.app-content {
    position: relative;
    display: flex !important;
    flex-flow: row no-wrap;
    justify-content: center;
    .sidebar-left,
    .app-middle,
    .sidebar-right {
        float: none !important;
    }
    .sidebar-left {
        flex: 1 3 20%;
        // min-width: 300px;
    }
    .app-middle {
        flex: 5 1 30%;
        align-self: stretch;
        .current-slide {
            margin: 0 auto;
        }
    }
    .sidebar-right {
        // overflow: hidden !important;
        flex: 1 1 15%;
        // min-width: 150px;
    }
}

// -------- @media -----------
// @media (min-width: 1199px) {
//     .app-content {
//         .sidebar-left {
//             flex: 2 1 28%;
//             min-width: 0;
//         }
//         .app-middle {
//             flex: 1 1 45%;
//         }
//         .sidebar-right {
//             flex: 1 1 18%;
//             min-width: 0;
//         }
//     }
// }
@media (min-width: 1200px) {
    .app-content {
        .sidebar-left {
            flex: 2 1 40%;
            min-width: 0;
        }
        .app-middle {
            flex: 1 1 30%;
        }
        .sidebar-right {
            flex: 1 1 23%;
            min-width: 0;
        }
    }
}
