#audio-search___modal {
    .form-tools {
        padding: 0 5px !important;
        position: relative;
        z-index: 30;
    }
    .modal-body {
        height: 530px;
        padding: 25px;
    }
    .search-section {
        margin-top: 10px;
        height: 440px;
        overflow: hidden;
        position: relative;
        z-index: 20;
        ul {
            // display: flex;
            // flex-wrap: nowrap;
            width: 100%;
            margin: 0;
            padding: 0;
            border: none;
            li {
                display: inline-block !important;
                width: 25% !important;
                .fa {
                    color: #fff !important;
                }
                .item {
                    position: relative;
                    overflow: hidden;
                }
                .mus-name {
                    position: absolute;
                    top: 5px;
                    left: 10px;
                    right: 10px;
                    z-index: 10000;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    color: #fff;
                }
                .musicOverlay {
                    background: rgba(#515e6d, 0.5);
                    z-index: 10000;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 40px;



.play-icon{
    cursor: pointer;
    font-family: FontAwesome;
    background: none;
    /* background-image: url(/img/play.png);
    background-size: 100%;
    background-repeat: no-repeat; */
    width: 28px;
    height: 28px;
    border: none;
    border-radius: none;
    position: absolute;
    z-index: 9999;
    margin: 0;
    left: 10px;
    right: auto;
    bottom: 10px;
    top: auto;
    text-align: left;
    text-indent: 0;
}
.play-icon:after{
    font-family: FontAwesome;
    content: '\f04b';
    font-size: 28px;
}
.play-icon:hover{
    transform: none;
}

.pause-icon{
    cursor: pointer;
    font-family: FontAwesome;
    background-color: none;
    /* background-image: url(/img/play.png);
    background-size: 100%;
    background-repeat: no-repeat; */
    width: 28px;
    height: 28px;
    border: none;
    border-radius: none;
    position: absolute;
    z-index: 9999;
    margin: 0;
    left: 10px;
    right: auto;
    bottom: 10px;
    top: auto;
    text-align: left;
    text-indent: 0;
}
.pause-icon:after{
    font-family: FontAwesome;
    font-size: 28px;
}
.pause-icon:hover{
    transform: none;
}























                    .col2 {
                        position: absolute;
                        right: 5px;
                        bottom: 5px;
                        color: #fff !important;
                        .fa {
                            height: 28px;
                            margin-left: 10px;
                        }
                    }
                    opacity: 0;
                    transition: opacity 0.4s;
                }
                .item:hover {
                    .musicOverlay {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media (min-height: 800px) {
    #audio-search___modal {
        .modal-body {
            height: 670px;
        }
        .search-section {
            height: 580px;
        }
    }
}
