// ------- Timeline ---------
.carousel {
    .asp-content:hover .tools,
    .asp-content.active-timeline-slide .tools {
        opacity: 1;
    }
    .tools {
        opacity: 0;
        position: absolute;
        z-index: 100;
        left: 0;
        right: 0;
        bottom: 0;
        height: 27px;
        overflow: hidden;
        transition: all 0.3s;
        a {
            display: inline-block;
            text-decoration: none;
            text-align: center;
            color: #fff;
            // text-align: left;
            width: 50%;
            height: 27px;
            // line-height: 50px;
            padding: 0;
            transition: background-color 0.3s;
            span {
                display: block;
                margin-top: 3px;
                .fa {
                    color: #fff !important;
                }
                // margin: 1px auto 0;
                // width: 43px;
                // height: 27px;
                // background: url('../images/sprite_timeline_tools.png') no-repeat;
            }
            &:nth-of-type(1) {
                background-color: rgba(171, 171, 171, 0.6);
                &:hover {
                    background-color: rgba(171, 171, 171, .9);
                }
                // span {
                // 	background-position: center top;
                // }
            }
            &:nth-of-type(2) {
                background-color: rgba(27, 51, 81, 0.6);
                &:hover {
                    background-color: rgba(27, 51, 81, .9);
                }
                // span {
                // 	background-position: center -25px;
                // }
            }
            // span {
            //     height: 37px;
            //     display: inline-block;
            // }
            // span:first-of-type {
            //     font-size: 30px;
            //     margin-right: 8px;
            //     position: relative;
            //     top: 2px;
            // }
            // span + span {
            //     margin: 0;
            //     font-size: 12px !important;
            // }
            // &:nth-of-type(3) {
            //     span + span {
            //         line-height: 16px;
            //         position: relative;
            //         top: 2px;
            //     }
            // }
        }
    }
}
