$main-bg: #12283c;
$blue-color: #68bcd8;
$yellow-color: #f3ae00;
@import "fixedAsp-ratio";
@import "header";
@import "sidebar-left";
@import "sidebar-right";
@import "sidebar-mobile-swipe";
@import "canvas";
@import "makeItFlex";
@import "timeline";
@import "modals-all";
@import "modals-start-and-finish";
@import "modals-lollipop";
@import "modals-music-grid";
@import "modals-video-search-modal";
@import "modals-video-start-modal";
@import "modals-user-video-modal";
@import "modals-image___oldCrop";







