#images-modal.modal.modal-theme.fade(tabindex='-1', role='dialog')
  .modal-dialog.modal-custom.modal-theme-yellow
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true')&times;
        h4.modal-title UPLOAD YOUR OWN VOICE OR USE TEXT TO SPEECH
      .modal-body
        .inner
            .tools-modal
                div
                    select.form-control.selectpicker
                      option(value='') Language
                      option(value='') EN
                div
                    select.form-control.selectpicker
                      option(value='') Gender
                      option(value='') Male
                      option(value='') Female
                div
                    select.form-control.selectpicker
                      option(value='') Voices
                      option(value='') Men
                      option(value='') Women
                      option(value='') Children
                      option(value='') Rock
                div
                    a.btn.btn-info.btn-block(href='#') SEARCH
            .user-audio
                h4 User audio
                ul.custom-scrollbar
                  li
                    .item
                      .thumb
                        img(src='images/audio-img.jpg', alt='Audio Thumbnail')
                      .tools
                        .col1
                            span Rock-n-roll 11
                        .col2
                            a(href='#')
                              span
                                em.fa.fa-cog
                            a(href='#')
                              span
                                em.fa.fa-plus-circle
                  li
                    .item
                      .thumb
                        img(src='images/audio-img.jpg', alt='Audio Thumbnail')
                      .tools
                        .col1
                            span Rock-n-roll 11
                        .col2
                            a(href='#')
                              span
                                em.fa.fa-cog
                            a(href='#')
                              span
                                em.fa.fa-plus-circle
                  li
                    .item
                      .thumb
                        img(src='images/audio-img.jpg', alt='Audio Thumbnail')
                      .tools
                        .col1
                            span Rock-n-roll 11
                        .col2
                            a(href='#')
                              span
                                em.fa.fa-cog
                            a(href='#')
                              span
                                em.fa.fa-plus-circle
                  li
                    .item
                      .thumb
                        img(src='images/audio-img.jpg', alt='Audio Thumbnail')
                      .tools
                        .col1
                            span Rock-n-roll 11
                        .col2
                            a(href='#')
                              span
                                em.fa.fa-cog
                            a(href='#')
                              span
                                em.fa.fa-plus-circle
                  li
                    .item
                      .thumb
                        img(src='images/audio-img.jpg', alt='Audio Thumbnail')
                      .tools
                        .col1
                            span Rock-n-roll 11
                        .col2
                            a(href='#')
                              span
                                em.fa.fa-cog
                            a(href='#')
                              span
                                em.fa.fa-plus-circle
                  li
                    .item
                      .thumb
                        img(src='images/audio-img.jpg', alt='Audio Thumbnail')
                      .tools
                        .col1
                            span Rock-n-roll 11
                        .col2
                            a(href='#')
                              span
                                em.fa.fa-cog
                            a(href='#')
                              span
                                em.fa.fa-plus-circle
                  li
                    .item
                      .thumb
                        img(src='images/audio-img.jpg', alt='Audio Thumbnail')
                      .tools
                        .col1
                            span Rock-n-roll 11
                        .col2
                            a(href='#')
                              span
                                em.fa.fa-cog
                            a(href='#')
                              span
                                em.fa.fa-plus-circle
                  li
                    .item
                      .thumb
                        img(src='images/audio-img.jpg', alt='Audio Thumbnail')
                      .tools
                        .col1
                            span Rock-n-roll 11
                        .col2
                            a(href='#')
                              span
                                em.fa.fa-cog
                            a(href='#')
                              span
                                em.fa.fa-plus-circle

        form#dropzone.dropzone(action='/target')
      .modal-footer
        a.btn.btn-info(href='#', data-dismiss='modal')
            em.fa.fa-angle-left
            | &nbsp;BACK
        a.btn.btn-info(href='#')
            | CONTINUE&nbsp;
            em.fa.fa-angle-right


block append footer
    script(src='/editor/js/dropzone.js')
    script.
      new Dropzone("#dropzone", { dictDefaultMessage: "DROP YOUR AUDIO HERE OR CLICK TO UPLOAD" });
