#modal_delete.modal.delete.fade(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        div
          span
            i.fa.fa-exclamation-circle
      .modal-body
        h3 Delete Slide!
      .modal-footer
        .col-md-6
          a.btn.btn-info(href="#", data-dismiss='modal') Cancel
        .col-md-6
          a.btn.btn-danger#yes_delete(href='#') Delete

#modal_delete_image.modal.delete.fade(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        div
          span
            i.fa.fa-exclamation-circle
      .modal-body
        h3 Delete Image!
      .modal-footer
        .col-md-6
          a.btn.btn-info(href="#", data-dismiss='modal') Cancel
        .col-md-6
          a.btn.btn-danger#yes_delete_image(href='#') Delete
#modal_delete_video.modal.delete.fade(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        div
          span
            i.fa.fa-exclamation-circle
      .modal-body
        h3 Delete Video!
      .modal-footer
        .col-md-6
          a.btn.btn-info(href="#", data-dismiss='modal') Cancel
        .col-md-6
          a.btn.btn-danger#yes_delete_image(href='#') Delete