extends layout
block content
    // Page content
    main
        .container.page-content.userform
            .inner 
                p.form-title FORGOT PASSWORD.
                form.mb-lg(role='form',method='post')
                    .form-group
                        .input-icon.right
                            i.fa.fa-envelope
                            input#exampleInputEmail1.form-control(type='email', placeholder='Email Address',name='email')
                            if errors
                                ul.parsley-errors-list.filled
                                    li.parsley-required #{email_err}
                    button.btn.btn-block.btn-info.mt-lg(type='submit') SEND
                    .form-group.text-center.forgot
                        a(href='login') Login?

block append footer
    .modal.fade#send_email(tabindex='-1', role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title(style="text-align: center;color: #fff;")

        script.
            var send_email_err = '!{send_email_err}';

            if(send_email_err == 'none'){
              $('#send_email .modal-content').css('background-color','green');
              $('#send_email .modal-title').html('The reset password link has been sent to your email address.');
              $('#send_email').modal('show');
              setTimeout(function(){$('#send_email').modal('hide');}, 4000);
            }else if(send_email_err == 'err'){
              $('#send_email .modal-content').css('background-color','red');
              $('#send_email .modal-title').html('Failed to send the link to the email address.');
              $('#send_email').modal('show');
              setTimeout(function(){$('#send_email').modal('hide');}, 4000);
            }