#images-modal.modal.modal-theme.fade(tabindex='-1', role='dialog')
  .modal-dialog.modal-full
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true')&times;
        h4.modal-title SEARCH OUR PHOTO LIBRARIES
      .modal-body
        .form-tools
          .col.col1
            #search-input
              .input-group.col-md-12
                input.form-control#search(type='text', placeholder='Search')
                span.input-group-btn
                  button#image-search.btn.btn-info.btn-lg(type='button')
                    i.glyphicon.glyphicon-search
            a.btn.btn-default(href='#') Regular
            a.btn.btn-default(href='#') Newest
            select.form-control.selectpicker#dropdownMenuPlugin(data-width='200px')
              option(value='pixabay') Pixabay
              option(value='youzing') Youzing
              //option(value='splashbase') Splashbase
              option(value='imgflip') Meme
              option(value='photofinish') Reevio
              //- option(value='videocloudsuite') Videocloudsuite
            a.btn.btn-theme(href='#', data-dismiss='modal') Back
        .search-section
            .custom-scrollbar
                section.image-list-section.collage.effect-parent
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-1.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-2.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-3.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-7.jpg')
                        .tools.tools-sm
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-4.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-8.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-6.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-1.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-2.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-3.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-7.jpg')
                        .tools.tools-sm
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-4.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-8.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-6.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-8.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-6.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-1.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-2.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-3.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-7.jpg')
                        .tools.tools-sm
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-4.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-8.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-6.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-8.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-6.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-1.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-2.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-3.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-7.jpg')
                        .tools.tools-sm
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-4.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-8.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library
                      .image-wrapper
                        a
                          img(src='/assets/img/thumbs/img-6.jpg')
                        .tools
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-eye
                              |  Open
                          a(href='#addtolibrary')
                            span
                              em.fa.fa-plus-circle
                              |  Add to library

