extends layout
block content
    // Page content
    main
        .container.page-content
            .row
                .col-sm-offset-3.col-sm-6.text-center
                    .product-search
                        h3 EXPLORE DIGITAL CONTENT
                          form(action='', method='get')
                            .search-input
                              input.search-query.form-control(type='text', placeholder='Search')
                              button.btn(type='submit')
                                span.fa.fa-search
            ul.product-section
              li
                .product
                  .product-thumb
                    img.img-responsive.object-img(src='/assets/img/thumbs/img-1.jpg')
                  .product-info
                    .product-header
                      a.title(href='product.html') Cyber Monday Logo Bundle
                    .product-price
                      div
                        span.amount $36
                      div
                        a.btn.btn-default(href='/product') Buy Now
              li
                .product
                  .product-thumb
                    img.img-responsive.object-img(src='/assets/img/thumbs/img-2.jpg')
                  .product-info
                    .product-header
                      a.title(href='product.html') Cyber Monday Logo Bundle
                    .product-price
                      div
                        span.amount $36
                      div
                        a.btn.btn-default(href='/product') Buy Now
              li
                .product
                  .product-thumb
                    img.img-responsive.object-img(src='/assets/img/thumbs/img-3.jpg')
                  .product-info
                    .product-header
                      a.title(href='product.html') Cyber Monday Logo Bundle
                    .product-price
                      div
                        span.amount $36
                      div
                        a.btn.btn-default(href='/product') Buy Now
              li
                .product
                  .product-thumb
                    img.img-responsive.object-img(src='/assets/img/thumbs/img-4.jpg')
                  .product-info
                    .product-header
                      a.title(href='product.html') Cyber Monday Logo Bundle
                    .product-price
                      div
                        span.amount $36
                      div
                        a.btn.btn-default(href='/product') Buy Now
              li
                .product
                  span.best-seller 10% OFF
                  .product-thumb
                    img.img-responsive.object-img(src='/assets/img/thumbs/img-5.jpg')
                  .product-info
                    .product-header
                      a.title(href='product.html') Cyber Monday Logo Bundle
                    .product-price
                      div
                        span.amount $36
                      div
                        a.btn.btn-default(href='/product') Buy Now
              li
                .product
                  .product-thumb
                    img.img-responsive.object-img(src='/assets/img/thumbs/img-6.jpg')
                  .product-info
                    .product-header
                      a.title(href='product.html') Cyber Monday Logo Bundle
                    .product-price
                      div
                        span.amount $36
                      div
                        a.btn.btn-default(href='/product') Buy Now
                        
                    
block append head
    link(rel='stylesheet', href='/assets/css/marketplace.css')
    
