.modal-window-music(style="display: none")
  .video-trimmer.clearfix
    span.close-po-up.music_triming_popu_clos &times;
      //- a
           i.fa.fa-times-circle.fa-3x
    .title
      h2
        i.fa.fa-file-audio-o
        |   Trim music
    #music-trim-container.music-container
    .controls-panel
      .video-timeline
        #music-progressbar
        #music-slider
        //.select-segment
          i.fa.fa-circle.fa-lg.left
          i.fa.fa-circle.fa-lg.right
      .video-controls.clearfix
        .controls
          span.music_back_tim_10
            a
              i.fa.fa-backward.fa-2x
            br
            | -10s
          span.music_back_tim_1
            a
              i.fa.fa-caret-left.fa-2x
            br
            | -1s
          span.time_position
            p 0:00:00
            | TIME POSITION
          span.music_next_tim_1
            a
              i.fa.fa-caret-right.fa-2x
            br
            | +1s
          span.music_next_tim_10
            a
              i.fa.fa-forward.fa-2x
            br
            | +10s
        .time-position.pull-left
          p.file_name
          p
            span.triming_tim 0:00 / 00:00
        .buttons.pull-right
          span(style='background-color: #f3ae00; color: #fff;').music_triming_popu_back
            a
              i.fa.fa-chevron-left   Back
          span(style='background-color: #68bddb; color: #fff;').music-continue
            a
              | Continue    
              i.fa.fa-chevron-right