extends layout
block content
    // Page content
    main
        .page-title-gray
            .container
                h4  Videos
        .container.page-content
            // START video_list
            .row
              form#choose_project(action='#')
                .form-group.fl-left.col-xs-4
                  label
                    | Select a Project or 
                    a.text-danger(href='new-project', id='') Create a New Project
                  select.form-control.select2(name='', id='')
                    option(value='') Project 1
                    option(value='') Project 2
                    option(value='') Project 3
            .table-responsive.videos_list
                table#datatable1.table.table-bordered.table-striped.table-hover
                    thead
                        tr
                            th.order_id Order Id
                            th Video
                            th Status
                            th Preview
                            th Date created
                            th Completed
                            th Templates
                            th Actions
                    tbody
                        tr
                            td.order_id 1
                            td.video_preview.clearfix.w_s_wrap
                                .media
                                    img.img-responsive(src='/img/2.jpg', alt='Image')
                                a.media-title(href='preview') Project 1
                                .media-descrip
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nobis, ducimus a impedit non, voluptatum vero assumenda cumque maxime fugit?
                            td.text-center
                                a.btn.btn-sm.btn-warning.disabled(href='#') Pending
                            td
                                a.btn.btn-success.btn-sm(data-toggle='modal', data-target='#show-video', href='javascript:void(0);')
                                    i.fa.fa-play-circle-o
                                    |  Watch
                            td.text-center 10-13-15
                            td.text-center 10-15-15
                            td.text-center Dentist A
                            td
                                a.btn.btn-sm.btn-primary(href='#') Accept
                                a.btn.btn-sm.btn-danger(data-toggle='modal', data-target='.modal', href='javascript:void(0);', title='Publish') Publish
                                a.btn.btn-sm.btn-info(href='#') Download
                        tr
                            td.order_id 1
                            td.video_preview.clearfix.w_s_wrap
                                .media
                                    img.img-responsive(src='/img/2.jpg', alt='Image')
                                a.media-title(href='preview') Project 2
                                .media-descrip
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nobis, ducimus a impedit non, voluptatum vero assumenda cumque maxime fugit?
                            td.text-center
                                a.btn.btn-sm.btn-info(href='add_project.html') Edit
                            td
                                a.btn.btn-success.btn-sm(data-toggle='modal', data-target='#show-video', href='javascript:void(0);')
                                    i.fa.fa-play-circle-o
                                    |  Watch
                            td.text-center 10-13-15
                            td.text-center 10-15-15
                            td.text-center Dentist A
                            td
                                a.btn.btn-sm.btn-primary(href='#') Accept
                                a.btn.btn-sm.btn-danger(data-toggle='modal', data-target='.modal', href='javascript:void(0);', title='Publish') Publish
                                a.btn.btn-sm.btn-info(href='#') Download
                        tr
                            td.order_id 1
                            td.video_preview.clearfix.w_s_wrap
                                .media
                                    img.img-responsive(src='/img/2.jpg', alt='Image')
                                a.media-title(href='preview') Project 3
                                .media-descrip
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nobis, ducimus a impedit non, voluptatum vero assumenda cumque maxime fugit?
                            td.text-center
                                a.btn.btn-sm.btn-primary(href='review.html') Review
                            td
                                a.btn.btn-success.btn-sm(data-toggle='modal', data-target='#show-video', href='javascript:void(0);')
                                    i.fa.fa-play-circle-o
                                    |  Watch
                            td.text-center 10-13-15
                            td.text-center 10-15-15
                            td.text-center Dentist A
                            td
                                a.btn.btn-sm.btn-primary(href='#') Accept
                                a.btn.btn-sm.btn-danger(data-toggle='modal', data-target='.modal', href='javascript:void(0);', title='Publish') Publish
                                a.btn.btn-sm.btn-info(href='#') Download
                        tr
                            td.order_id 1
                            td.video_preview.clearfix.w_s_wrap
                                .media
                                    img.img-responsive(src='/img/2.jpg', alt='Image')
                                a.media-title(href='preview') Project 4
                                .media-descrip
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nobis, ducimus a impedit non, voluptatum vero assumenda cumque maxime fugit?
                            td.text-center
                                a.btn.btn-sm.btn-info(href='#') Complete
                            td
                                a.btn.btn-success.btn-sm(data-toggle='modal', data-target='#show-video', href='javascript:void(0);')
                                    i.fa.fa-play-circle-o
                                    |  Watch
                            td.text-center 10-13-15
                            td.text-center 10-15-15
                            td.text-center Dentist A
                            td
                                a.btn.btn-sm.btn-primary(href='#') Accept
                                a.btn.btn-sm.btn-danger(data-toggle='modal', data-target='.modal', href='javascript:void(0);', title='Publish') Publish
                                a.btn.btn-sm.btn-info(href='#') Download
                // END table-responsive