extends layout
block content
    main
      .page-title-gray
        .container
          .title
            h4 Online Ads
      .page-top
        .container
          .inner
            .title
              a.link-custom.collection-link(href='javascript:;')
                em.fa.fa-th-large
                |  COLLECTIONS 
                em.fa.fa-caret-down
            .search-form
              form(action='#')
                .form-group
                  .input-group-btn
                    input.form-control(placeholder='Search', type='text')
                    button.btn.btn-default(type='button')
                      i.fa.fa-search
        .mega-menu
          .container
            .inner-menu
              .inner-title
                h1 Browse by Categories
              .row
                .col-md-3.col-sm-3
                  ul
                    li
                      a(href='#') New & Fresh
                    li
                      a(href='#') Best of 2016
                    li
                      a(href='#') Kids & Family
                    li
                      a(href='#') Mobile & Games
                    li
                      a(href='#') Online Ads
                .col-md-3.col-sm-3
                  ul
                    li
                      a(href='#') Business & Services
                    li
                      a(href='#') Vizeo Subscription
                    li
                      a(href='#') Events
                    li
                      a(href='#') How-To-Make Videos
                    li
                      a(href='#') Travel
                .col-md-3.col-sm-3
                  ul
                    li
                      a(href='#') Restaurant
                    li
                      a(href='#') Sports & Car
                    li
                      a(href='#') Real Estate
                    li
                      a(href='#') E-commerce
                    li
                      a(href='#') Photo Slideshows
                .col-md-3.col-sm-3
                  ul
                    li
                      a(href='#') Digital Signage
                    li
                      a(href='#') Instagram
                    li
                      a(href='#') Fashion & Apparel
      .main-title
        .container
          .inner
            h1 Online Ads
            span 6 video designs
      .container.page-content.pgc-sm
        .video-thumb-o
          ul.grid.cs-style-3-1.thumb-list(data-effect='slide-top')
            li
              figure
                a(href='#')
                  .thumb
                    img.img-responsive(src='/img/temp/1.jpg')
                    .info
                      h3
                        b Positive Energy
                        |  - Original
                      span Vizeo
                      .extra
                        em.fa.fa-file-image-o
                        span 5
                        em.fa.fa-film
                        span 2
                  figcaption
                    p The best ideas are the simplest one.
            li
              figure
                a(href='#')
                  .thumb
                    img.img-responsive(src='/img/temp/3.jpg')
                    .info
                      h3
                        b Positive Energy
                        |  - Original
                      span Vizeo
                      .extra
                        em.fa.fa-file-image-o
                        span 5
                        em.fa.fa-film
                        span 2
                  figcaption
                    p The best ideas are the simplest one.
            li
              figure
                a(href='#')
                  .thumb
                    img.img-responsive(src='/img/temp/2.jpg')
                    .info
                      h3
                        b Positive Energy
                        |  - Original
                      span Vizeo
                      .extra
                        em.fa.fa-file-image-o
                        span 5
                        em.fa.fa-film
                        span 2
                  figcaption
                    p The best ideas are the simplest one.
            li
              figure
                a(href='#')
                  .thumb
                    img.img-responsive(src='/img/temp/5.jpg')
                    .info
                      h3
                        b Positive Energy
                        |  - Original
                      span Vizeo
                      .extra
                        em.fa.fa-file-image-o
                        span 5
                        em.fa.fa-film
                        span 2
                  figcaption
                    p The best ideas are the simplest one.
            li
              figure
                a(href='#')
                  .thumb
                    img.img-responsive(src='/img/temp/8.jpg')
                    .info
                      h3
                        b Positive Energy
                        |  - Original
                      span Vizeo
                      .extra
                        em.fa.fa-file-image-o
                        span 5
                        em.fa.fa-film
                        span 2
                  figcaption
                    p The best ideas are the simplest one.
            li
              figure
                a(href='#')
                  .thumb
                    img.img-responsive(src='/img/temp/6.jpg')
                    .info
                      h3
                        b Positive Energy
                        |  - Original
                      span Vizeo
                      .extra
                        em.fa.fa-file-image-o
                        span 5
                        em.fa.fa-film
                        span 2
                  figcaption
                    p The best ideas are the simplest one.
