extends layout
block content
    // Page content
    main
        .product-item
          .container.page-content
            .row
              .col-md-9.col-sm-7
                .prod-video
                  .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube-nocookie.com/embed/_gxxo02amuY?autoplay=1')
                .prod-info
                  h1.prod-title 2300 Line Vector Icons - Sharpicons
                  p
                    | Special Offer: 52% OFF / 39$Sharpicons is a huge bundle of 2300 line vector icons. Download a beautiful and modern set of icons that meet all your needs. Create stunning projects with 46 different icon categories. High quality pixel perfect icons designed to look crisp and detailed. A combination of 2px outlines and 1px details for realistic depth. 8 different file types including icon fonts. Grouped and ai files containing artboards for quick bulk saving.
                  h4 Update:
                  ul
                    li Web Fonts added: Eot, Ttf, Woff
                    li Expanded Svg icons added
                  h4 Features:
                  ul
                    li Pixel perfect icons worked on a precise grid system
                    li Organized icons in separate categories and file types
                    li Various file formats including .ai, .eps, .svg, .png, .csh, .eot, .ttf, .woff
                    li Grouped Illustrator Ai files and Ai files containing artboards
                    li Eps10 vector files for each category
                    li Individual line and expanded Svg files for each icon
                    li Individual Png files for each icon
                    li Photoshop Csh (custom shapes) for each category
                    li Icon Fonts with Reference
                    li Adjustable line width
                    li Lifetime free updates
                  h4 What's included?
                  ul
                    li 2300 line vector icons
                    li 246 Icon categories
                    li 246 grouped Illustrator Ai files
                    li 246 Illustrator Ai artboard files (CS6+)
                    li 246 Vector Eps10 files
                    li 232x32px, 64x64px, 128x128px, 256x256px Png files for each icon
                    li 246 Photoshop Csh (custom shape) files
                    li 246 Eot font files
                    li 246 Ttf font files
                    li 246 Woff font files
                  h4 Icon Categories:
                  p
                    | Alignment icons, animal, arrows, badges & stamps, human body, building & landmarks, cafe & restaurant, camping, chat, christmas, clothes & accessories, construction, design, devices & hardware, ecology , electronic appliances, emoticons, file types, finance, folder, food & drinks, furniture, gambling, game, gesture, health & fitness, industry & farming, laundry, mail, medical, music, nature, network, phone, photography, science & education, security, seo, car service, space, sport,transport, traveling, vegetables & fruits, weather, wedding & valentine icons.
              .col-md-3.col-sm-5
                .prod-purchase
                  span.amount $39
                  a.btn.btn-block(href='#') BUY NOW!
                  img.img-responsive(src='/assets/img/secure_money_back.png')
                  img.img-responsive(src='/assets/img/card.png')
                .prod-include
                  table
                    tbody
                      tr
                        td After Effects Version
                        td CC 2015, CS5, CS5.5, CS6, CC
                      tr
                        td File Size
                        td 1.89 G
                      tr
                        td Requires Plugins
                        td No
                      tr
                        td Resolution
                        td 1920x1080
                      tr
                        td Music Included
                        td No

                        
                    
block append head
    link(rel='stylesheet', href='/assets/css/marketplace.css')
    
