extends layout
block content
    // Page content
    main
        .container.page-content.userform
            .inner
                p.form-title.bg-red  Login information will be sent to your email after payment.
                form.mb-lg(role='form',name='register',action='',method='post')

                    a(href='https://www.jvzoo.com/b/0/222742/1')
                        img(src='http://i.jvzoo.com/0/222742/1', alt='Reevio Video Maker FE', border='0',style="width:100%;")
                hr
                p.text-center Have an account?
                a.btn.btn-block.btn-default(href='login') Login Now!
