extends layout
block content
    // Page content
    main
        .container.page-content.text-center
            .row
                .col-md-offset-2.col-md-8
                    h2 THANK YOU FOR YOUR PURCHASE!
                    p(style='font-size:15px') Please check your email for login instructions. If you have any issues or questions please email us at
                         a(href='') &nbsp;support@reevio.com
                    a.btn.btn-info(href='/auth/login') Login