#user-video-modal.modal.modal-theme.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-custom
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                h4.modal-title VIDEO
            .modal-body
            .modal-footer