html
  head
      link(rel='stylesheet', href='/css/bootstrap.css')    
      link#maincss(rel='stylesheet', href='../youtube/css/app.css')
      link#maincss(rel='stylesheet', href='../youtube/css/theme-an.css')
      link#maincss(rel='stylesheet', href='../youtube/css/style.css')
      link(rel='stylesheet', href='/jv/assets/vendor/font-awesome-4.5.0/css/font-awesome.min.css')
      link(rel='stylesheet', href='/vendor/simple-line-icons/css/simple-line-icons.css')  
  body
    script(type='text/javascript').
      var data = "{{ data }}";
    // top navbar
    header.topnavbar-wrapper
      // START Top Navbar
      nav.navbar.topnavbar(role='navigation')
        .container
          // START navbar header
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#/')
              .brand-logo
                img.img-responsive(src='/youtube/img/logo.png', alt='App Logo')
              .brand-logo-collapsed
                img.img-responsive(src='/youtube/img/logo-single.png', alt='App Logo')
          // END navbar header
          // START Nav wrapper
          .navbar-collapse.navbar-ex1-collapse.collapse(style='height: 1px;', aria-expanded='false')
            // START Right Navbar
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/youtube/settings', title='Settings')
                  em.icon-settings
                  span.hidden-xs  Setttings
              li
                a(href='#', title='Support')
                  em.icon-support
                  span.hidden-xs  Support
              li
                a(href='#', title='Logout')
                  em.icon-logout
                  span.hidden-xs  Logout
            // END Right Navbar
          // END Nav wrapper
      // END Top Navbar
    // PAGE TOP
    // /END PAGE TOP
    .wrapper.sidebar-section
      // Main section
      // sidebar
      aside.aside
        // START Sidebar (left)
        .aside-inner
          nav.sidebar(data-sidebar-anyclick-close='')
            // START sidebar nav
            ul.nav
              li
                a(href='/youtube/dashboard', title='DASHBOARD')
                  em.icon-home
                  span Dashboard
              li
                a(href='/youtube/my-videos', title='Videos')
                  em.icon-film
                  span My Videos
              li
                a(href='/youtube/create-video-ads', title='Create Video Ads')
                  em.icon-plus
                  span Create Video Ads
              li
                a(href='#videosearch_sub', title='Video Search', data-toggle='collapse')
                  em.icon-control-play
                  span
                    | Video Search 
                    em.fa.fa-angle-down
                ul#videosearch_sub.nav.sidebar-subnav.collapse
                  li.sidebar-subnav-header Youtube Tools
                  li
                    a(href='/youtube/video-search', title='Video Search')
                      span New video search
                  li
                    a(href='/youtube-video-search', title='Video Related Search')
                      span Video Related Search
                  li
                    a(href='/youtube/video-search-history', title='Search History')
                      span Search History
              li
                a(href='#channelsearch_sub', title='Video Search', data-toggle='collapse')
                  em.icon-social-youtube
                  span
                    | Channel Search 
                    em.fa.fa-angle-down
                ul#channelsearch_sub.nav.sidebar-subnav.collapse
                  li.sidebar-subnav-header Channel Search
                  li
                    a(href='/youtube/channel-search', title='Channel Search')
                      span New channel search
                  li
                    a(href='/youtube/channel-search-history', title='Search History')
                      span Search History
              li
                a(href='#targetgroups_sub', title='Video Search', data-toggle='collapse')
                  em.icon-plus
                  span
                    | Targeting Groups 
                    em.fa.fa-angle-down
                ul#targetgroups_sub.nav.sidebar-subnav.collapse
                  li.sidebar-subnav-header Targeting Groups
                  li
                    a(href='/youtube/video-groups', title='Video Groups')
                      span Video Groups
                  li
                    a(href='/youtube/channel-groups', title='Channel Groups')
                      span Channel Groups
              li
                a(href='#ytdtools_sub', title='Youtube Tools', data-toggle='collapse')
                  em.icon-energy
                  span
                    | Youtube Tools 
                    em.fa.fa-angle-down
                ul#ytdtools_sub.nav.sidebar-subnav.collapse
                  li.sidebar-subnav-header Youtube Tools
                  li
                    a(href='/youtube/search-targets', title='Search for Targets')
                      span Search for Targets
                  li
                    a(href='/youtube/placement-lists', title='Placement Lists')
                      span Placement Lists
                  li
                    a(href='/youtube/keyword-lists', title='Keyword Lists')
                      span Keyword Lists
            // END sidebar nav
        // END Sidebar (left)
      section
        // Page content
        .content-wrapper
          .content-heading
            | New Video Search
            // START Left navbar
            ul.nav.navbar-nav.side-nav
              li
                // Button to show/hide the sidebar on mobile. Visible on mobile only.
                a.visible-xs.sidebar-toggle(href='#', data-toggle-state='aside-toggled', data-no-persist='true')
                  span.sr-only Toggle sidebar
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
            // END Left navbar
          .content-body
            .video-search-form
              h4 SEARCH FOR VIDEOS
              form.form-horizontal(action="javascript:void(0)")
                .form-group
                  .col-sm-6
                    .input-group
                      span.input-group-addon
                        i.fa.fa-font
                      input#search-field.video.form-control(type='text', placeholder='Enter keyword here...')
                  .col-sm-3
                    .input-group
                      span.input-group-addon
                        i.fa.fa-sort
                      select.selectpicker.form-control.sortvideo
                        option(value='relevance') Sort by Relevant
                        option(value='viewCount') Sort by View Count
                        option(value='rating') Sort by Rating
                  .col-sm-3
                    .input-group
                      span.input-group-addon
                        i.fa.fa-clock-o
                      select.selectpicker.form-control.videoduration
                        option(value='any') Any
                        option(value='short') Short
                        option(value='medium') Medium
                        option(value='long') Long
                button.btn.red(type='button') Reset
                button#search-button.video.btn.btn-theme.pull-right(type='button') Search
            .video-search-result
              .row
                .col-sm-6
                  h4 SEARCH RESULTS
                  p Tip: Videos which are displayed with green ribbon are monetized!
                .col-sm-6.text-right
                  a.btn.btn-sm.btn-default(href='javascript:;', data-toggle='modal', data-target='#exportedLinks')
                    em.fa.fa-download
                    |  Export video links
                  a.btn.btn-sm.btn-default(href='javascript:;', data-toggle='modal', data-target='#targetingGroups')
                    em.fa.fa-navicon
                    |  Targeting groups
                  a.btn.btn-sm.btn-default.font-green(href='javascript:;', data-toggle='modal', data-target='#newSearch')
                    em.fa.fa-search-plus
                    |  New video search
              table#video_search_table.table.table-striped.table-bordered.table-hover.dataTable.no-footer(cellspacing='0', width='100%')
                thead
                  tr
                    th VIDEO THUMBNAIL
                    th TITLE
                    th VIEWS
                    th LIKES
                    th DISLIKES
                    th COMMENTS
                    th PUBLISHED
                tbody
              
    footer
      .container
        .row
          .col-md-8.col-sm-8
            ul.footer-nav
              li
                a(href='#') Home
              li
                a(href='#') Terms of Use
              li
                a(href='#') Privacy Policy
              li
                a(href='#') Support
              li
                a(href='#') Blog
              li
                a(href='#') support@reevio.com
          .col-md-4.col-sm-4
            .footer-logo-section
              p With love from Los Angeles
              p ©2016 Reevio
    // MODAL SECTIONS
    #exportedLinks.modal.modal-theme.fade(tabindex='-1', role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Exported video links
          .modal-body
            .form
              textarea.form-control(rows='8', placeholder='Please wait while grabbing links...')
          .modal-footer
            a.btn.btn-default.bg-grey-1(href='#') Download Monetized Videos
            a.btn.btn-default.bg-grey-1(href='#') Download All Videos
            button.btn.btn-default(type='button', data-dismiss='modal') Close
        // /.modal-content
      // /.modal-dialog
    // /.modal
    #targetingGroups.modal.modal-theme.fade(tabindex='-1', role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Create or add targeting groups
          .modal-body
            form.form.form-horizontal
              .form-group
                .col-md-6
                  label Select a group
                  select.form-control.selectpicker
                    option Group 1
                .col-md-6
                  label Video types
                  .radio-list
                    label.radio-inline
                      input#optionsRadios4(type='radio', name='optionsRadios', value='option1', checked='')
                      |  Monetized Videos
                    label.radio-inline
                      input#optionsRadios5(type='radio', name='optionsRadios', value='option2')
                      |  All Videos
          .modal-footer
            a.btn.btn-default.bg-grey-1(href='#') Create group
            a.btn.btn-default.bg-grey-1(href='#') Add to group
            button.btn.btn-default(type='button', data-dismiss='modal') Close

     #myModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Watch Video
          .modal-body
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close

script(src='/vendor/jquery/dist/jquery.min.js')
script(src='/vendor/bootstrap/dist/js/bootstrap.js')  
script(src='/youtube/js/script.js')

script(src='/youtube/vendor/jQuery-Storage-API/jquery.storageapi.js')

script(src='/youtube/vendor/animo.js/animo.js')
script(src='/youtube/vendor/slimScroll/jquery.slimscroll.min.js')
script(src='/youtube/vendor/screenfull/dist/screenfull.js')
script(src='/youtube/vendor/jquery-localize-i18n/dist/jquery.localize.js')
script(src='/youtube/assets/js/demo/demo-rtl.js')
script(src='/youtube/vendor/datatables/media/js/jquery.dataTables.min.js')
script(src='/youtube/vendor/datatables-colvis/js/dataTables.colVis.js')
script(src='/youtube/vendor/datatables/media/js/dataTables.bootstrap.js')
script(type='text/javascript', src='/youtube/vendor/bootstrap-select/bootstrap-select.min.js')
script(type='text/javascript', src='/youtube/vendor/jquery-multi-select/jquery.multi-select.js')
script(src='/youtube/vendor/jquery-classyloader/js/jquery.classyloader.min.js')
script(src='/youtube/vendor/moment/min/moment-with-locales.min.js')
script(src='/youtube/assets/js/app.js')
script(src='/youtube/assets/js/custom.js')