@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,100,300,700);
@font-face {
font-family: Monsterrat Black;
src: url("../font/Montserrat-Black.otf") format("opentype");
}
@font-face {
font-family: Monsterrat Bold;
src: url("../font/Montserrat-Bold.otf") format("opentype");
}
@font-face {
font-family: Monsterrat Semi Bold;
src: url("../font/Montserrat-SemiBold.otf") format("opentype");
}
@font-face {
font-family: Monsterrat Extra Bold;
src: url("../font/Montserrat-ExtraBold.otf") format("opentype");
}
@font-face {
font-family: Monsterrat Light;
src: url("../font/Montserrat-Light.otf") format("opentype");
}
@font-face {
font-family: Monsterrat Regular;
src: url("../font/Montserrat-Regular.otf") format("opentype");
}
/* page css */

html{
  min-height: 100% !important;
  position: relative;
}
body {
	background-color: #EFEFEF;
	font-family: 'Raleway', sans-serif;
	min-height: 100%;
}
.main-loader {
	position: fixed;
	content: '';
	background-color: #fafafa;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	transition: all 0.35s;
}
main {
	margin-bottom: 0;
}
.m0 {
	margin: 0 !important;
}
.p0 {
	padding: 0 !important;
}
.btn-xs {
	font-size: 11px !important;
}
.extraBottom {
	margin-bottom: 25px;
}
a {
	color: #38c5ed;
}
a:focus {
	text-decoration: none;
	color: #999;
}
video {
	width: 100%;
	opacity: 1;
}


/* ----- Holding asp. ratio IgorKiev 2016-04-21 ----*/
.hold-asp-ratio {
  position: relative; }
  .hold-asp-ratio:before {
	display: block;
	content: " ";
	width: 100%;
	padding-top: 56.25%; }
  .hold-asp-ratio > .content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0; }
  .hold-asp-ratio > .asp-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden; }
	.hold-asp-ratio > .asp-content video {
	  width: 100%;
	  height: 100%;
	  -o-object-fit: cover;
	  object-fit: cover;
	  -o-object-position: center;
	  object-position: center; }

.form-bordered .form-group {
	border-bottom: 1px solid #efefef;
	margin: 0;
}
.form-bordered .form-group > div {
	padding: 15px;
	border-left: 1px solid #efefef;
}
.topnavbar {
	background-color: #1b3553; /*IgorKiev 2016-04-20*/
	background-image: none;
	/*background: #FFF none repeat scroll 0% 0%;*/ /*IgorKiev 2016-04-20*/
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	color: #333;
	position: relative;
	z-index: 999;
}
.topnavbar .navbar-header, .topnavbar .nav-wrapper {
	background-color: inherit; /*IgorKiev 2016-04-20*/
	background-image: none;
	/*background: #FFF none repeat scroll 0% 0%;*/ /*IgorKiev 2016-04-20*/
}
/*.topnavbar .navbar-nav > li > a {
	font-size: 13px;
}*/ /*IgorKiev 2016-04-20*/
.topnavbar .navbar-nav > li > a:hover, .topnavbar .navbar-nav > .open > a:hover, .topnavbar .navbar-nav > li > a:focus, .topnavbar .navbar-nav > .open > a:focus {
	color: #fff;
}
.topnavbar .navbar-nav > li > a:hover::before, .topnavbar .navbar-nav > li > a:hover::after {
	background-color: #38c5ed;
}
.navbar-toggle {
	border-color: #eee;
}
.navbar-toggle .icon-bar {
	background-color: #333;
}
.page-title {
	padding: 25px 0px;
	width: 100%;
	position: relative;
	background-color: #38c5ed;
	box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1) inset;
}
.page-title.pt-dark {
	background-color: #222;
}
.page-title.pt-xs {
	padding: 5px 0;
}
.page-content {
	margin-top: 20px;
	min-height: 400px;
}
.page-content.pgc-sm {
	margin-top: 10px;
}
.main-title .inner{
	width: 100%;
	display: table;
	position: relative;
	margin-top: 15px;
}
.main-title h1{
	font-size: 16px;
	line-height: 18px;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	display: table-cell;
	vertical-align: bottom;
	font-weight: bold;
}
.main-title span{
	display: table-cell;
	vertical-align: bottom;
	text-align: right;
	font-size: 12px;
	line-height: 14px;
}
.page-title .title {
	display: inline;
	position: relative;
	z-index: 1;
	padding-bottom: 6px;
	color: #fff;
}
.page-title h4{
	margin: 0;
	padding: 0px;
	font-size: 28px;
	letter-spacing: -1px;
	display: inline;
	color: #fff;
	font-weight: bold;
}
.page-title small {
	font-size: 14px;
	padding-left: 10px;
	letter-spacing: 0px;
	font-weight: 300;
	color: #fff;
}
.page-title span {
	display: block;
}
.page-top {
	position: relative;
	background-color: #d3d3d3; /*IgorKiev 2016-04-20*/
	/*box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1) inset;*/ /*IgorKiev 2016-04-20*/
	margin-bottom: 10px;
}
.page-top .inner{
	display: table;
	width: 100%;
	height: 64px; /*IgorKiev 2016-04-20*/
}
.page-top .title {
	display: table-cell;
	vertical-align: middle;
	width: 70%;
}
.page-top .title .collection-link {
	padding: 10px;
}
.page-top .title .collection-link.show{
	padding: 20px 10px;
	background-color: #fff;
	float: left;
}
.page-top .search-form {
	display: table-cell;
	vertical-align: middle;
	width: 30%;
	position: relative;
	width: 100%;
	max-width: 200px;
}
.page-top .search-form .form-group{
	margin: 0;
}
.page-top .search-form .input-group-btn { /*IgorKiev 2016-04-20*/
	border-radius: 5px !important;
	overflow: hidden;
}
.page-top .search-form input {
	border: 0;
	padding: 5px 10px;
	height: 38px; /*IgorKiev 2016-04-20*/
	font-size: 16px; /*IgorKiev 2016-04-20*/
	color: #585858; /*IgorKiev 2016-04-20*/
	padding-right:55px;
}
.page-top .search-form input + button > .fa { /*IgorKiev 2016-04-20*/
	color: #585858;
	font-size: 18px;
}
.page-top .search-form .btn{
	position: absolute;
	bottom: 0;
	right: 0;
	border: 0;
	top: 0;
	padding: 5px 10px;
	height: auto;
}
.page-top .mega-menu {
	position: absolute;
	top: 64px; /*IgorKiev 2016-04-20*/
	background-color: #fff;
	width: 100%;
	z-index: 99;
	border-bottom: 1px solid #eee;
	max-height: 0;
	transition: all 0.3s;
	overflow: hidden;
}
.page-top .mega-menu .inner-menu{
    font-family: 'Raleway', sans-serif;
	padding: 20px 0;
}
.page-top .mega-menu.show {
	transition: all 1s;
	max-height: 1000px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}
.page-top .mega-menu .inner-menu .inner-title {
	border-bottom: 1px solid #1b3553;
	padding: 10px 0;
	margin-bottom: 25px;
}
.page-top .mega-menu .inner-menu .inner-title h1{
    font-family: 'Raleway', sans-serif;
    color: #1b3553;
	font-size: 16px;
    font-weight: 700;
	line-height: 16px;
	width: 100%;
	padding: 0;
	margin: 0;
}
.page-top .mega-menu .inner-menu a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #1b3553;
    font-size: 14px;
}
.page-top .mega-menu .inner-menu a:hover {
    color: rgba(27,53,83,0.6);
}
.page-top .mega-menu .inner-menu ul{
	list-style: none;
	padding: 0;
}


.page-tools .filter-tabs {
	display: table-cell;
	vertical-align: middle;
	width: 70%;
}
.page-tools .filter-tabs > div{
	display: table-cell;
	vertical-align: middle;
	padding: 0 7px;
	/*border-left: 1px solid #888;*/ /*IgorKiev 2016-04-20*/
}
/*.page-tools .filter-tabs > div:first-child{
	border-left: 0;
}*/ /*IgorKiev 2016-04-20*/

/* -------- dropdowns start IgorKiev 2016-04-21 ------- */
/*.dropdown .btn {
	padding:2px 10px;
	line-height:20px;
	border-radius: 5px;
}*/
/*.dropdown {
	display:inline-block;
}*/
/*.dropdown-menu {
	display: none;
	float: right;
	min-width: 60px;
	padding: 8px 0;
	margin: 15px 0 0;
	background-color: #dadada;
	border: none;
	border-radius: 4px;
	box-shadow: none;
}*/

div.dropdown-menu,
.page-top ul.dropdown-menu:not(.inner)
 {
	margin-top: 5px !important;

}
div.dropdown-menu,
ul.dropdown-menu {
	border-radius: 3px !important;
	border: none;
	/*overflow: hidden;*/
}

/*.dropdown-menu > li > a {
	padding:5px 10px;
	line-height:17px;
	border-right:solid 3px transparent
}
.dropdown-menu > li > a:hover, .dropdown-menu > li.selected > a:hover {
	border-right-color:#5bc0de;
	background:#edeff1
}*/
/* -------- dropdowns end IgorKiev 2016-04-21 ------- */

.page-tools .filter-tabs > div .dropdown-toggle,
.page-tools .filter-tabs > div a.collection-link{
	color: #585858;
	background: #fff; /*IgorKiev 2016-04-20*/
	padding: 0px 25px 0px 15px;
	font-size: 16px;
	display: block;
	height: 38px;
	line-height: 38px;
	outline: none !important;
	overflow: hidden;
	border: none !important;
	border-radius: 3px !important;
	transition: all 0.3s;
}






.form-horizontal .bootstrap-select.open .btn,
.form-horizontal .bootstrap-select .btn,
.form-horizontal .dropdown-toggle.btn-default:focus,
.form-horizontal .dropdown-toggle.btn-default:hover,
.form-horizontal .dropdown-toggle.btn-default:active,
.form-horizontal .dropdown-toggle.btn-default:link,
.form-horizontal .dropdown-toggle.btn-default:visited,
.page-tools .open > .dropdown-toggle.btn-default:focus,
.page-tools .open > .dropdown-toggle.btn-default:hover,
.page-tools .open > .dropdown-toggle.btn-default:active,
.page-tools .open > .dropdown-toggle.btn-default:link,
.page-tools .open > .dropdown-toggle.btn-default:visited { /*IgorKiev 2016-04-20*/
	background: #fff;
	border: none !important;
	outline: none !important;
}
.page-tools .filter-tabs > div .dropdown-toggle:active,
.page-tools .filter-tabs > div a:active{ /*IgorKiev 2016-04-20*/
	background: #fff !important;
}

.page-tools .filter-tabs > div .dropdown-toggle .fa,
.page-tools .filter-tabs > div a .fa {
	margin-left: 10px;
}

.page-tools .filter-tabs > div .bootstrap-select {
	margin: 0;
	height: auto;
	background-color: transparent;
}
.page-tools .filter-tabs .bootstrap-select .caret { /*IgorKiev 2016-04-20*/
	position: relative !important;
	top: 5px !important;
	right: 9px !important;
	font-size: 14px;
}
.page-tools .filter-tabs .bootstrap-select .caret:before { /*IgorKiev 2016-04-20*/
	content: "\f0d7";
}
/*.page-tools .filter-tabs > div .bootstrap-select > .btn {
	margin: 0px;
	background-color: transparent;
	border: 0px none;
	padding: 5px 25px 5px 5px;
	font-size: 13px;
}*/
/* ------ li's hover, active IgorKiev 2016-04-21 ----------- */
.form-horizontal .dropdown-menu li > a,
.page-tools .dropdown-menu li a {
	transition: none;
	min-width: 170px;
}

.form-horizontal .dropdown-menu li > a:hover,
/*.form-horizontal .dropdown-menu li > a:focus,*/
/*.form-horizontal .dropdown-menu li > a:active,*/
.page-tools .dropdown-menu li a:hover
/*.page-tools .filter-tabs > div a:focus,*/
/*.page-tools .filter-tabs > div a:active*/
{
	text-decoration: none;
	background-image: none;
	background-color: #edeef0;
	/*color: #515e6d;*/
	border-right: 4px solid #68bddb !important;
	outline: none;
	filter: none;
}
.page-tools .filter-tabs > div .bootstrap-select > .btn:focus {
	outline: none;
}
.page-tools .filter-tabs > div a:hover{
	color: #1b3553;
}
.page-tools .search-form {
	display: table-cell;
	vertical-align: middle;
	width: 20%;
}
/*.page-tools .filter-tabs > div .btn-link {
	font-size: 13px;
	padding: 5px;
}*/

.btn-link {
	border: 0;
	background-color: transparent;
}
.btn-link em {
	margin-left: 5px;
}
.btn-link:hover, .btn-link:focus {
	text-decoration: none;
}

.page-banner a:hover {
	opacity: 0.8;
}
.page-banner .inner{
	position: relative;
}
.page-banner .inner img{
	width: 100%;
}
.page-banner .inner h1{
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	font-size: 18px;
	line-height: 20px;
	padding: 10px 0;
	color: #333;
}
.page-banner .plans {
	margin-left: -5px;
	margin-right: -5px;
}
.page-banner .plans .item {
	width: 25%;
	float: left;
	padding: 10px 5px;
}
button.close {
	color: #333;
	text-indent: 0;
	background-image: none;
	background: none;
	font-size: 14px;
}
.link-custom {
	color: #555;
	padding: 5px;
}
.link-custom:hover, .link-custom:focus {
	color: #555;
	text-decoration: none;
	background-color: #eee;
}
.link-custom-1 {
	color: #555;
	padding: 5px 20px;
	background-color: rgba(255,255,255,0.4);
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
}
.link-custom-1:hover, .link-custom-1:focus {
	color: #555;
	text-decoration: none;
	background-color: rgba(255,255,255,0.8);
}
.link-custom-2 {
	color: #fff;
	padding: 5px 20px;
	background-color: rgba(0,0,0,0.2);
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
}
.link-custom-2:hover, .link-custom-2:focus {
	color: #fff;
	text-decoration: none;
	background-color: rgba(0,0,0,0.5);
}
.bg-white {
	background-color: #fff;
}
.bg-gray {
	background-color: #eee;
}
table {
	background-color: #fff;
}

/* custom tabs */

.custom-tab > .nav-tabs > li.active > a {
	background-color: transparent;
}
.custom-tab .tab-content {
	padding: 15px;
}

/* footer */
/* html,
body {
	height: 100%;
}
body {
	position: relative;
	padding-bottom: 85px !important;
}
footer {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 85px;
}
@media (max-width: 1000px) {
	body {
		padding-bottom: 100px !important;
	}
	footer {
		height: 100px;
	}
}
@media (max-width: 767px) {
	body {
		padding-bottom: 145px !important;
	}
	footer {
		height: 145px;
	}
}
 */

footer {
	background-color: #333;
	padding: 25px 0;
	position: absolute;
    width: 100%;
    bottom: 0px;
}
.footer-sub {
	background-color: #fff;
	padding: 40px 0;
}
.footer-sub h1{
	font-size: 24px;
	line-height: 24px;
	margin: 10px 0;
}

.footer-nav {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-nav li {
	display: inline;
	border-right: 1px solid #999;
	padding: 2px 10px;
}
.footer-nav li:last-child {
	border-right: 0;
}
.footer-nav li a {
	color: #fff;
}
.footer-logo-section {
	background-image: url(../img/reevio-logo.png);
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 90px;
	color: #fff;
	text-align: right;
	padding-right: 100px;
}
.footer-logo-section p {
	margin: 0;
}

/* START CONTENT CSS HERE */

/* my video */

.my-video {
	display: table;
	width: 100%;
	margin-bottom: 25px;
	padding: 10px;
	background-color: #fff;
}
.my-video .col1 {
	display: table-cell;
	width: 60%;
	position: relative;
	height: 400px;
}
.my-video .col1 .video-js{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	padding: 56.25% 0 0;
}
.my-video .col2 {
	display: table-cell;
	width: 40%;
	position: relative;
	background-color: #fff;
	padding: 20px;
}
.my-video .title {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}
.my-video .title h1{
	font-size: 22px;
	line-height: 24px;
	padding: 0;
	margin: 0;
}
.my-video .info {
	padding-bottom: 50px;
}
.my-video .info .sub-title{
	font-size: 14px;
	color: #30A4DC;
}
.my-video .info h4{
	font-size: 16px;
}
.my-video .btn-make {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
}
.video-meta {
	display: table;
	width: 100%;
	position: relative;
	background-color: #fff;
	padding: 10px;
	margin-bottom: 25px;
}
.video-meta .item {
	display: table-cell;
	vertical-align: middle;
	padding: 20px;
	border-right: 1px solid #eee;
}
.video-meta .item:last-child {
	border-right: 0;
}
.video-meta .item h1{
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.video-meta .item p {
	font-size: 12px;
}
.video-meta .item .info {
	display: inline;
	margin-right: 10px;
	font-size: 26px;
	font-weight: 500;
}
.video-meta .item .info.dblock {
	display: block
}
.video-meta .item .list {
	list-style: none;
	padding: 0;
	width: auto;
	display: block
}
.video-meta .item .list li{
	display: inline;
}
.video-meta .item .list li.t{
	font-weight: 600;
	text-transform: uppercase;
	width: 120px;
	float: left;
}
.video-meta .item .meta-info {
	display: table;
	width: 70%;
	margin: 0 auto 5px;
	text-align: center;
}
.video-meta .item .meta-info div{
	text-align: center;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
	list-style: none;
	width: 50%;
}
.video-meta .item .meta-info div .t{
	color: #FFF;
	background-color: #23B7E5;
	font-weight: bold;
	padding: 5px 15px;
	text-transform: uppercase;
	margin-right: 10px;
}
.video-meta .item .meta-info div b {
	font-size: 18px;
}
.video-copyright {
	display: table;
	width: 100%;
	margin-bottom: 25px;
	background-color: #fff;
	padding: 15px 20px;
}
.video-copyright .title {
	font-weight: bold;
	text-transform: uppercase;
}
.video-copyright .info .type{
	font-size: 12px;
	color: #333;
	padding-right: 25px;
	border-right: 1px solid #bbb;
	margin-right: 10px;
}
.video-copyright .info label{
	font-size: 12px;
	color: #333;
}
.video-copyright .foot {
	border-top: 1px solid #eee;
	margin-top: 5px;
	padding-top: 5px;
	font-size: 12px;
	color: #999;
	text-align: right;
}
.video-variations {
	padding: 10px 0;
	margin-bottom: 30px;
}
.video-variations .title h1{
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}
.video-variations .listings {
	margin-top: 15px;
}
.video-variations .listings .inner {
	margin-bottom: 6px;
	display: table;
}
.video-variations .listings .inner .item{
	position: relative;
	display: table;
	width: 376px;
	margin-right: 6px;
	margin-bottom: 6px;
	float: left;
	border: 1px solid #ddd;
	background-color: #fff;
}
.video-variations .listings .inner .item.active{
	color: #222;
	border-color: #23B7E5;
	background-color: rgba(159, 213, 239, 0.2);
}
.video-variations .listings .inner .item:nth-child(3n+3){
	margin-right: 0;
}
.video-variations .listings .inner .item .col1{
	width: 35%;
	display: table-cell;
}
.video-variations .listings .inner .item .col1 img {
	width: 100%;
}
.video-variations .listings .inner .item .col2{
	width: 65%;
	display: table-cell;
	vertical-align: middle;
	padding: 5px;
}
.video-variations .listings .inner .item .col2 .title{
	border-bottom: 1px solid #999;
	margin-bottom: 5px;
	font-weight: bold;
	text-transform: uppercase;
}
.video-variations .listings .inner .item .col2 .extra{
	float: right;
}
.video-variations .listings .inner .item .col2 .extra span{
	padding: 0 5px;
}

/* video items */
.video-item {
	padding: 30px 0;
	position: relative;
	z-index: 2;
	margin-bottom: 5px;
}
.video-item:last-child {
	margin-bottom: 0;
}
.video-item .container{
	z-index: 9;
	position: relative;
}
.bg-overlay:before {
	background-size: 100px auto;
	background-position: center center;
	background-repeat: repeat;
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	z-index: 8;
}
.bg-overlay:after {
	background-image: linear-gradient(135deg, #FFF 35%, rgba(255, 255, 255, 0.8) 0px);
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	z-index: 1;
}
.bg-overlay.list-1 {
	background-color: #F0BC28;
}
.bg-overlay.list-1:before {
	background-image: url(../img/thumb-bg.png);
	opacity: 0.4;
}
.bg-overlay.list-1:after {
	opacity: 0.7;
}
.bg-overlay.list-2 {
	background-color: #3B5998;
	color: #fff;
}
.bg-overlay.list-2:before {
	background-image: url(../img/thumb-bg-1.png);
	opacity: 0.1;
}
.bg-overlay.list-2:after {
	opacity: 0.2;
}
.bg-overlay.list-4 {
	background-color: #34495E;
	color: #fff;
}
.bg-overlay.list-4:before {
	background-image: url(../img/thumb-bg-3.png);
	opacity: 0.1;
}
.bg-overlay.list-4:after {
	opacity: 0.2;
}
.bg-overlay.list-5 {
	background-color: #30A4DC;
	color: #fff;
}
.bg-overlay.list-5:before {
	background-image: url(../img/thumb-bg-4.png);
	opacity: 0.1;
}
.bg-overlay.list-5:after {
	opacity: 0.2;
}

.bg-overlay-full {
	background-position: center center;
	background-size: cover;
	position: relative;
}
.bg-overlay-full:after {
	position: absolute;
	width: 100%;
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #fff;
	opacity: 0.5;
}
.bg-overlay-full.list-3 {
	background-image: url(../img/thumb-bg-2.png);
	background-color: #FDF9DE;
}

.video-info h3{
	margin: 0 0 10px;
	font-size: 24px;
	line-height: 26px;
	font-weight: 500;
}
.cover-image {
    width: 100% !important;
}
.video-thumb {
	margin-left: -5px;
	margin-right: -5px;
	display: block;
	float: left;
}

.video-thumb .thumb-list {
	padding: 0;
}

.video-thumb .thumb-list img{
	width: 100%;
	padding: 0;
}

.video-thumb .thumb-list li{
	width: 25%;
	padding: 5px;
	display: inline-block;
}

.video-thumb .thumb-list figcaption {
	padding: 10px;
	height: auto;
	background-color: #fff;
	color: #333;
}

.video-thumb .thumb-list figcaption h3{
	font-size: 12px;
	line-height: 12px;
	margin: 0;
	padding: 0;
	font-weight: 100;
	color: #333;
}

.video-thumb .thumb-list figcaption span{
	font-size: 10px;
	line-height: 12px;
	font-weight: 100;
	color: #333;
}

.video-thumb-o {
	display: block;
	margin: auto;
	width: 100%;
}

.video-thumb-o .thumb-list {
	padding: 0;
	margin-left: -11px;
	margin-right: -11px;
}

.video-thumb-o .thumb-list img{
	width: 100%;
	padding: 0;
}

.video-thumb-o .thumb-list li{
	width: 25%;
	vertical-align: top;
	padding: 10px;
	display: inline-block;
    margin-left: -2px;
    margin-right: -2px;
}

.video-thumb-o .thumb-list .thumb .info {
	background-color: #fff; /*IgorKiev 2016-04-21*/
	/*padding: 10px;*/
	color: #fff; /*IgorKiev 2016-04-21*/
	position: relative;
}

.video-thumb-o .thumb-list .thumb span {
	font-size: 11px;
}

.video-thumb-o .thumb-list .thumb .info .extra {
	float: right;
}

.video-thumb-o .thumb-list figcaption p {
	padding-right: 50px;
	float: left;
}

.video-thumb-o .thumb-list figcaption .extra {
	position: absolute;
	right: 0;
	top: 10px;
}

.video-thumb-o .thumb-list figcaption .extra span{
	font-size: 11px;
	padding: 0 5px;
}
.video-thumb-o .thumb-list figcaption .extra span:before{
	content: '';
}

.video-thumb-o .thumb-list .thumb .info h3{
	font-size: 12px;
	line-height: 12px;
	margin: 0;
	padding: 0;
	font-weight: 100;
	color: #333;
}

.video-thumb-o .thumb-list .thumb .info .inner {
	/*display: table;*/
	display: block; /*IgorKiev 2016-04-21*/
	width: 100%;
}
.video-thumb-o .thumb-list .thumb .info .inner .col {
	/*display: table-cell;*/
	display: block; /*IgorKiev 2016-04-21*/
	vertical-align: middle;
	position: relative;
	/*padding-right: 25px;*/ /*IgorKiev 2016-04-21*/
	width: 100%;
}
.video-thumb-o .thumb-list .thumb .info .inner .col a:first-child {
	display: block !important; /*IgorKiev 2016-04-21*/
	color: #333; /*IgorKiev 2016-04-21*/
	width: 100%; /*IgorKiev 2016-04-21*/
	padding: 10px 0 10px 10px; /*IgorKiev 2016-04-21*/
	font-weight: 500;
	font-size: 14px;
    line-height: 16px;
}
.video-thumb-o .thumb-list .thumb .info .inner .col .btn-continue {
	position: absolute;
	right: 0;
	top: 0;
}
.video-thumb-o .thumb-list .thumb .info .inner .col .btn-continue em {
	font-size: 24px;
}

.video-thumb-o .thumb-list figcaption {
	padding: 10px;
	height: auto;
	background-color: #fff;
	color: #333;
	border-top: 1px solid #eee;
}

.video-thumb-o .thumb-list figcaption p{
	margin-bottom: 0;
	font-size: 11px;
}

.video-thumb-o .thumb-tools a {
	position: relative;
	right: 0;
	bottom: 0;
	margin: 0;
	font-size: 12px;
}

/* templates */
.section-template {
    padding: 50px 0;
}
.section-template:nth-child(odd){
    background-color: #e5e5e5;
}
.section-template .st-header {
    position: relative;
    display: block;
    margin-bottom: 25px;
    border-bottom: 5px solid #333;
}
.section-template .st-header .sth-title {
    font-size: 24px;
    color: #585858;
    font-weight: 700;
}
.section-template .st-header p {
    font-size: 14px;
    max-width: 400px;
    width: 100%;
}
.section-template .st-header .btn-view {
    position: absolute;
    background-color: #333;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    top: 5px;
    right: 0;
    border: 0;
    border-radius: 3px !important;
    padding: 6px 35px;
}
.section-template.st-blue .st-header {
    border-color: #68bddb;
}
.section-template.st-blue .st-header .btn-view {
    background-color: #68bddb;
}
.section-template.st-yellow .st-header {
    border-color: #f3ae00;
}
.section-template.st-yellow .st-header .btn-view {
    background-color: #f3ae00;
}
.section-template.st-red .st-header {
    border-color: #d34b50;
}
.section-template.st-red .st-header .btn-view {
    background-color: #d34b50;
}

.template-listing {
}

.template-listing ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.template-listing figure { /*IgorKiev 2016-04-21*/
	/*border-bottom: 5px solid #38c5ed;*/
	/*box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1) inset;*/
	/*background-color: #1b3553;*/
}

.template-listing .vd-thumb {
	position: relative;
	width: 100%;
	height: auto; /*IgorKiev 2016-04-21*/
	/*background-color: #111;*/
}

.template-listing .vd-thumb video{
	display: block;
	/*width: 100%;*/
	/*height: auto;*/
}

.template-listing .vd-thumb .video-js.center-play .vjs-big-play-button {
	opacity: 0;
	transition: all 0.35s;
}

.template-listing .vd-thumb:hover .video-js.center-play .vjs-big-play-button {
	opacity: 1;
	transition: all 0.35s;
}

.template-listing .video-js{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.project-listing .thumb-list figcaption a {
	position: relative;
	font-size: 12px;
}



/* user */
.sidebar-vid {
	background-color: #fff;
	text-align: center;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
	margin-bottom: 25px;
}
.sidebar-vid .user-section {
	padding: 30px 20px 10px;
}
.sidebar-vid .user-section .user-img{
	width: 75px;
	height: 75px;
	border: 1px solid #eee;
	margin: 0 auto;
	border-radius: 50px !important;
	padding-top: 15px;
}
.sidebar-vid .user-section .user-img img{
	width: 40px;
}
.sidebar-vid .user-section .user-name {
	position: relative;
	padding: 10px 0 5px;
	margin-bottom: 25px;
}
.sidebar-vid .user-section .user-name:after{
	position: absolute;
	border-bottom: 1px solid #eee;
	content: '';
	margin: 0 auto;
	bottom: 0;
	left: 0;
	right: 0;
	width: 40px;
}
.sidebar-vid .user-section .user-name span{
	font-weight: 600;
}
.sidebar-vid .user-section .user-info {
	font-size: 13px;
	color: #999;
}
.sidebar-vid .user-section .user-info p {
	margin: 0;
}
.sidebar-vid .user-settings {
	padding: 10px 20px;
	color: #38c5ed;
	border-top: 1px solid #eee;
	width: 100%;
	display: block;
}
.sidebar-vid-nav {
	background-color: #fff;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
	margin-bottom: 25px;
}
.sidebar-vid-nav .side-title {
	padding: 10px 20px;
	width: 100%;
	display: block;
	color: #38c5ed;
	border-bottom: 1px solid #38c5ed;
}
.sidebar-vid-nav ul {
	list-style: none;
	padding: 10px 20px;
}
.sidebar-vid-nav ul li {
	border-bottom: 1px solid #eee;
	width: 100%;
	padding: 5px;
}
.sidebar-vid-nav ul li a{
	width: 100%;
	display: block;
}
.sidebar-vid-nav ul li a.active{
	color: #2A6496;
}

/* video modal */
.video-modal {
	padding: 0 !important;
}
.video-modal:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.02;
	width: 100%;
	content: '';
	background-image: url("/img/thumb-bg-4.png");
}
.video-modal ~ .modal-backdrop, .video-modal ~ .modal-backdrop.fade.in {
	background-color: rgba(0,0,0,0.9) !important;
	opacity: 1;
	transition: all 0.35s;
}
.video-modal .modal-dialog {
	width: 100%;
	height: 100%;
	max-width: 800px;
	position: relative;
	display: table;
	margin: auto;
}
.video-modal .modal-content {
	display: table-cell;
	vertical-align: middle;
	font-family: 'Raleway', sans-serif !important;
}
.video-modal .modal-content, .video-modal .modal-content .modal-header, .video-modal .modal-content .modal-footer {
	background-color: transparent;
	box-shadow: none;
	border: 0 !important;
	color: #fff;
	position: relative;
}
.video-modal .modal-content .modal-title {
	font-size: 26px;
}
.video-modal .modal-content .close-modal {
	position: absolute;
	font-size: 20px;
	top: 30%;
	right: 0;
	background-color: transparent;
	border: 0;
}
.video-modal .modal-content .modal-body{
	background-color: rgba(0,0,0,0.2);
}

/* video js */
.full-video {
	width: 100%;
}

.video-4by3 {
	padding-top: 75%;
}

.video-js:not(.vjs-has-started):hover:before {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	content: '';
	z-index: 5;
	background-color: rgba(0,0,0,0.3);
	transition: all 0.35s;
}

.video-js .vjs-big-play-button {
	width: 0;
	height: 0;
/*	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-right: 0;
	border-left: 80px solid #fff;*/
	background-color: transparent;
	opacity: 0;
	z-index: 999;
	transition: all 0.35s;
}
.video-js .vjs-big-play-button:before {
	content: '';
}
.video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:hover { /*IgorKiev 2016-04-26*/
	/*border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-right: 0;
	border-left: 80px solid #fff;
	background-color: transparent;*/
	opacity: 1;
}
/*IgorKiev 2016-04-27*/
.video-js:hover .vjs-big-play-button{
	border: none !important;
}
/*IgorKiev 2016-04-27*/
.video-js:hover .vjs-big-play-button:before {
	content: "\f04b";
	font-family: 'FontAwesome';
	font-size: 40px;
	position: absolute;
	width: 32px;
	height: 40px;
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	border: none !important;
	transform: translate(-50%, -50%);
	color: #fff;
	border: none !important;
}

.video-js .vjs-loading-spinner {
	border-radius: 25px !important;
	z-index: 11;
}

.vjs-youtube .vjs-poster {
	background-size: 100% auto !important;
	background-color: #000;
}

/* video section listing */
.video-section-listing .searchForm input, .video-section-listing .searchForm .btn {
	font-size: 12px;
}
.video-section-listing .searchForm > div input {
	height: auto;
	padding: 10px 15px;
}
.video-section-listing .searchForm > div {
	width: 80%;
	padding: 5px;
	float: left;
}
.video-section-listing .searchForm > div:last-child {
	width: 20%;
}
.video-section-listing .searchForm > div:last-child .btn {
	border: 1px solid #e5e5e5;
	padding: 10px 15px;
}
.video-section-listing .title {
	width: 100%;
	display: block;
	margin-bottom: 20px;
}
.video-section-listing .title h1{
	padding: 0;
	margin: 0;
	font-size: 20px;
	line-height: 22px;
	text-transform: uppercase;
}
.video-section-listing .inner {
	position: relative;
	margin-top: 15px;
}
.video-section-listing .inner.empty {
	background-color: #e5e5e5;
	color: #666;
	text-align: center;
	padding: 50px;
}
.video-section-listing .video-item {
	position: relative;
	padding: 5px;
}
.video-section-listing .video-item .thumb{
	background-color: #ddd;
	background-image: url(../img/thumb-bg-5.png);
	background-position: center;
	/*height: 180px;*/  /* need to test this!!!!   IgorKiev 2016-04-21*/
	position: relative;
	color: #fff;
}
.video-section-listing .video-item .info{
	display: table;
	width: 100%;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
}
.video-section-listing .video-item .info .col1{
	width: 70%;
	float: left;
}
.video-section-listing .video-item .info .col1 h1{
	font-size: 14px;
	line-height: 16px;
	padding: 0;
	margin: 0;
}
.video-section-listing .video-item .info .col2{
	width: 30%;
	float: left;
	text-align: right;
}
.video-section-listing .video-item .info .col2 a{
	padding: 5px 3px;
}

.video-section-listing .thumb-list {
	padding: 0;
	margin-left: -5px;
	margin-right: -5px;
	text-align: left;
}
.video-section-listing .thumb-list > li {
	width: 33.33%; /*IgorKiev 2016-04-20*/
	padding: 10px; /*IgorKiev 2016-04-20*/
	display: inline-block;
}
/* .video-section-listing .thumb-list > li .thumb {
	height: 237px;
} */
.video-section-listing .thumb-list > li .thumb .thumbnail{
	position: relative;
	background-color: #111;
	/*height: 180px;*/ /*IgorKiev 2016-04-21*/
	margin-bottom: 0;
}
.video-section-listing .thumb-list > li .thumb .thumbnail img{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.video-section-listing .thumb-list > li .thumb .vd-thumb {
	position: relative;
	width: 100%;
	/*height: 180px;*/ /*IgorKiev 2016-04-21*/
	/*background-color: #111;*/ /*IgorKiev 2016-05-18*/
}
.video-section-listing .thumb-list > li .thumb .vd-thumb .myvideo-js{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.video-section-listing .thumb-list > li .thumb .info {
	background-color: #1b3553; /*IgorKiev 2016-04-20*/
	padding: 10px 15px;
	width: 100%;
	min-height: 67px; /*IgorKiev 2016-04-27*/
	/* left: 0;
	bottom: 0;
	position: absolute; */
}
.video-section-listing .thumb-list > li .thumb .info ul {
	padding: 0;
	list-style: none;
	width: 100%;
	display: table;
}
.video-section-listing .thumb-list > li .thumb .info ul li{
	display: table-cell;
	padding: 0;
	width: 70%;
	vertical-align: bottom;
}
.video-section-listing .thumb-list > li .thumb .info ul li:last-child{
	text-align: right;
	width: 30%;
}
.video-section-listing .thumb-list > li .thumb .info .title{
	font-size: 13px;
	color: #666;
	margin: 0;
	float: left;
	display: inline;
	width: auto;
	font-weight: 600;
	line-height: 14px;
	padding: 0 5px 0 0;
}
.video-section-listing .thumb-list > li .thumb .info .status {
	font-size: 11px;
	float: left;
	line-height: 16px;
	padding: 0 5px;
	border-left: 1px solid #eee;
	visibility: hidden;
	position: absolute;
}
.video-section-listing .thumb-list > li .thumb .info .project {
	font-size: 11px;
	line-height: 16px;
	color: #777;
	border-left: 1px solid #eee;
	padding: 0 5px;
	float: left;
}
.video-section-listing .thumb-list > li .thumb .info .template{
	font-size: 11px;
	color: #777;
}
.video-section-listing .thumb-list > li .thumb .info .template em{
	font-size: 11px;
}
.video-section-listing .thumb-list > li .thumb .info .date span{
	font-size: 10px;
	line-height: 14px;
}
.video-section-listing .thumb-list > li .thumb .info .extra {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 11px;
}
.video-section-listing .thumb-list > li figcaption {
	padding: 10px;
	height: auto;
	background-color: #fafafa;
}
.video-section-listing .thumb-list > li figcaption .btn{
	font-size: 11px;
	padding: 5px;
}
.video-section-listing .thumb-list > li figcaption .btn-tools {
	display: table;
	width: 100%;
}
.video-section-listing .thumb-list > li figcaption .btn-tools .col {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}
.video-section-listing .thumb-list > li figcaption .btn-tools .col2 {
	text-align: right;
}
.video-section-listing .thumb-list > li .thumb .thumbnail.pending {
	background-color: #ddd;
	background-image: url(../img/thumb-bg-5.png);
	background-position: center;
	/*height: 180px;*/ /*IgorKiev 2016-04-21*/
	position: relative;
	color: #fff;
	padding: 0;
}
.video-section-listing .thumb-list > li .thumb > div { /*IgorKiev 2016-04-21*/
	border: none !important;
}
.video-section-listing .thumb-list > li figure {
	/*border-bottom: 5px solid #38c5ed;*/ /*IgorKiev 2016-04-20*/
	box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1) inset;
	background-color: #fff;
	overflow: hidden;
}
.video-section-listing .thumb-list > li .inner {
	margin-top: 0;
}
.video-section-listing .thumb-list > li .inner .col {
	position: relative;
}
.video-section-listing .thumb-list > li .inner .col .vtitle {
	/*color: #575656;*/
	color: #fff; /*IgorKiev 2016-04-20*/
	font-weight: 700;
	font-size: 14px;
}
.video-section-listing .thumb-list > li .inner .col span.date {
	color: #fff;
}
.video-section-listing .thumb-list > li .inner .col .btn-continue em {
	font-size: 24px;
}
.video-section-listing .thumb-list > li .inner .tools .col .btn {
	padding: 0 1px !important; /* IgorKiev 2016-04-25 */
}
/* IgorKiev 2016-04-25 */
.video-section-listing .thumb-list > li .inner .tools .col .btn span{
	position: relative;
	top: 4px;
	display: inline-block;
	width: 1.8em;
	height: 1.8em;
	line-height: 1.8em;
	vertical-align: middle;
}

.video-section-listing .thumb-list > li .inner .tools .col .btn span .fa{
	font-size: 1.8em;
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	transition: all 0.3s;
}
.video-section-listing .thumb-list > li .inner .tools .col .btn span .fa + .fa {
	color: #1b3553;
	font-size: 14px;
}


/* Download icon */
/*.video-section-listing .thumb-list > li .inner .tools .col .btn[title="Download"] span:hover .fa.fa-circle {
	color: #fff;
}*/

/* Facebook icon */
.video-section-listing .thumb-list > li .inner .tools .col .btn[title="Publish via Facebook"] span:hover .fa.fa-circle {
	color: #4460a0;
}
.video-section-listing .thumb-list > li .inner .tools .col .btn[title="Publish via Facebook"] span:hover .fa + .fa {
	color: #fff;
}

/* Youtube icon */
.video-section-listing .thumb-list > li .inner .tools .col .btn[title="Publish via Youtube"] span:hover .fa.fa-circle {
	color: #fff;
}
.video-section-listing .thumb-list > li .inner .tools .col .btn[title="Publish via Youtube"] span:hover .fa + .fa {
	color: #ce1312;
}


.video-section-listing .customLoader {
	position: absolute;
	/*background-color: #fff;*/ /* IgorKiev 2016-04-25 */
	width: 100%; /* IgorKiev 2016-04-25 */
	height: 80px; /* IgorKiev 2016-04-25 */
	/*border-radius: 50px !important;*/
	margin: auto;
	top: calc(50% - 40px);
	left: 0;
	right: 0;
	/*bottom: 0;*/
	text-align: center;
}
.video-section-listing .customLoader canvas{
	/*margin-top: 3px;*/ /* IgorKiev 2016-04-25 */
}
.video-section-listing .customLoader canvas + span {
	font-size: 16px;
}


/* .no-touch .video-section-listing figure:hover .thumb,
.video-section-listing figure.cs-hover .thumb {
	-webkit-transform: translateY(-45px);
	-moz-transform: translateY(-45px);
	-ms-transform: translateY(-45px);
	transform: translateY(-45px);
} */

.vtable {
	display: table;
	width: 100%;
}
.vtable .col {
	display: table-cell;
	vertical-align: middle;
	/*width: 50%;*/ /*IgorKiev 2016-04-20*/
}
.vtable .col.col1 {
	width: 100%;
}
.vtable.tools .col {
	width: 50%;
}
/*.vtable .col + .col {
	width: 30%;
}*/
.vtable .col2 {
	text-align: right;
}

.vtable.tools a { /*IgorKiev 2016-04-20*/
	font-size: 22px;
	line-height: 22px;
	/*margin-right: 7px;*/ /*IgorKiev 2016-04-25*/
	color: #fff;
}
.vtable.tools .col.col1 a {
	margin-right: 1px;
}
.vtable.tools a:last-child,
.vtable.tools .col.col1 a:last-child {
	margin-right: 0;
}
/*.vtable.tools a:hover {
	color: #38c5ed;
}*/

/* -------------------------------------*/

	/* width: 1.25em; */
	/* text-align: center; */
	/* font-size: 14px; */
	/* line-height: 14px; */

/* categories */
.category-list {
	background-color: #fff;
	padding: 20px 0;
	margin-top: 20px;
}
.category-list .title {
	text-align: center;
	border-bottom: 2px solid #eee;
	margin-bottom: 25px;
}
.category-list .title h3{
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-size: 16px;
}
.category-list ul {
	list-style: none;
	padding: 0;
	text-align: center;
}
.category-list ul li a{
	color: #333;
}
.category-list ul li a:hover {
	color: #30A4DC;
}


/* project table */
.project_table {
	margin-top: 15px;
}
.project_table .media{
	width: 100%;
}


.video-slide {
	position: relative;
	background-color: #111;
	padding: 10px 0 20px;
	min-height: 300px;
}
.video-slide .video-editor {
	display: none;
	padding: 0 10px;
	transition: all 0.35s;
}
.video-slide .loading-editor{
	margin:  auto;
	padding: 10px;
	color: #fff;
}
.video-slide .video-editor .main-editor .wrap-editor{
  /*  max-height: 550px;*/
}
.video-slide .video-editor .main-editor .main-slide{
	width: 75%;
	display: inline-block;
	vertical-align: top;
	padding: 0 10px 0 5px;
	margin-left: -5px;
}
/* main slide */
.video-slide .main-slide .video-thumb-m {
	position: relative;
}
.video-slide .main-slide .video-thumb-m .item-form {
	position: absolute;
	width: 100%;
	top: 0px;
	bottom: 0px;
	z-index: 99999;
	overflow: visible;
}
.item-form .field{
	position: absolute;
	z-index: 99;
	padding: 5px;
}
.item-form .field.file {
	z-index: 100;
	padding: 0;
}
.item-form .field.text {
	z-index: 101;
}

.item-form .field.file .fileinput{
	border: 4px solid #fafafa;
	border-style: groove;
	-webkit-box-shadow: inset 0px 0px 9px -1px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0px 0px 9px -1px rgba(0,0,0,0.8);
	box-shadow: inset 0px 0px 9px -1px rgba(0,0,0,0.8);
	padding: 0;
	position: relative;
}
.video-slide .main-slide .video-thumb-m .item-form .field.file .fileinput.fileinput-exists {
	border-color: #38c5ed !important;
}
.video-slide .main-slide .video-thumb-m .item-form .field.file .noimage {
	background-color: transparent;
}
.video-slide .main-slide .video-thumb-m .item-form .field.file .thumbnail {
	border: 0;
	padding: 0;
}
.video-slide .main-slide .video-thumb-m .item-form .field.file .fileinput.fileinput-exists .thumbnail{
	background-color: #222;
}
.video-slide .main-slide .video-thumb-m .item-form .field.file .thumbnail img{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: auto;
}
.video-slide .main-slide .video-thumb-m .item-form .field.file .fileinput-new, .video-slide .main-slide .video-thumb-m .item-form .field.file .fileinput-preview, .video-slide .main-slide .video-thumb-m .item-form .field.file > .fileinput-exists {
	margin: 0;
	position: relative;
	width: 100%;
	height: 100%;
}
.video-slide .main-slide .video-thumb-m .item-form .field.file .btn-select-opt .btn.btn-file{
	position: absolute;
	content: '';
	width: 35px;
	height: 35px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50% !important;
	background-color: rgba(102, 102, 102, 0.9);
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 2px 5px rgba(0, 0, 0, 0.2);
	background-image: url(../img/selimage.png) !important;
	background-size: 20px 20px;
	background-position: center;
	background-repeat: no-repeat;
	transition: all .2s ease-in-out;
	text-indent: -9999px;
	z-index: 2;
}
.video-slide .main-slide .video-thumb-m .item-form .field.file .fileinput.fileinput-exists .btn-select-opt .btn.btn-file{
	background-color: #38c5ed;
}
.video-slide .main-slide .video-thumb-m .item-form .field.file:hover .btn-select-opt .btn.btn-file{
	transform: scale(1.3);
}
.video-slide .main-slide .video-thumb-m .item-form .field.file .btn-select-opt .btn.btn-remove{
	position: absolute;
	right: 0;
	top: 0;
}
.video-slide .main-slide .video-thumb-m .item-form .field.file .btn-select-opt .btn{
	font-size: 10px;
	padding: 2px 10px;
}

.video-slide .main-slide .video-thumb-m .item-form .field.text a {
	position: relative;
	color: #fff;
	border: 1px solid #eee;
	padding: 5px;
	height: auto;
	display: block;
	word-wrap: break;
}


/* music tracker */
.video-slide .main-editor .music-tracker {
	background-color: #333;
	border: 1px solid #555;
	outline: 1px solid rgba(0,0,0,.2);
	box-shadow: 0 5px 20px rgba(0,0,0,.2);
	width: 25%;
	display: inline-block;
	vertical-align: top;
	min-height: calc(100% - 40px);
}
.video-slide .main-editor .music-tracker, .video-slide .main-slide .music-tracker a{
	color: #eee !important;
}
.video-slide .main-editor .music-tracker > .nav-tabs > li.active, .video-slide .main-editor .music-tracker > .nav-tabs > li:hover {
	border-bottom: 1px solid #23B7E5;
	margin-bottom: 2px;
}
.video-slide .main-editor .music-tracker > .nav-tabs > li.active > a, .video-slide .main-editor .music-tracker > .nav-tabs > li:hover a {
	color: #eee !important;
}
.video-slide .main-editor .music-tracker .tab-content {
	background-color: #1a1a1a;
	margin-bottom: 0;
	border-top: 1px solid #444;
}
.video-slide .main-editor .music-tracker .tab-content .feeds li {
	background-color: #111;
	border: 1px solid #444;
}
.video-slide .main-editor .music-tracker .playlist {
	/* padding-right: 5px; */
}
.video-slide .main-editor .music-tracker .playlist li {
	padding: 5px 10px;
}
.video-slide .main-editor .music-tracker .playlist li .title{
	font-size: 12px;
}
.video-slide .main-editor .music-tracker .playlist li .col1 {
	width: 80%;
	height: 40px;
}
.video-slide .main-editor .music-tracker .playlist li .col2 {
	width: 20%;
	height: 50px;
	float: left;
	margin-left: 0;
	position: relative;
}
.video-slide .main-editor .music-tracker .playlist li .col2 .pickme{
	position: absolute;
	bottom: 15px;
	font-size: 12px;
	height: 20px;
}
.video-slide .main-editor .music-tracker .playlist li .col2 .delete{
	position: absolute;
	right: 0px;
	bottom: 15px;
	color: #D84A38;

}
.video-slide .main-editor .music-tracker .playlist ~ .slimScrollBar {
	background: #23B7E5 !important;
	width: 3px !important;
	opacity: 1 !important;
	right: 0 !important;
}
.video-slide .main-editor .music-tracker .playlist ~ .slimScrollBar ~ .slimScrollRail {
	background: #999 !important;
	width: 3px !important;
	opacity: 1 !important;
	right: 0 !important;
}
.video-slide .main-editor .music-tracker .playlist .audiojs {
	width: 100% !important;
	height: 30px;
	position: relative;
	box-shadow: none;
	background: transparent !important;
}
.video-slide .main-editor .music-tracker .playlist .audiojs .scrubber {
	position: absolute;
	width: 80%;
	margin-left: 15%;
	margin-top: 6px;
	height: 7px;
	background: #333;
	border-top: 0;
}
.video-slide .main-editor .music-tracker .playlist .audiojs .scrubber .progress{
	background: #ccc;
}
.video-slide .main-editor .music-tracker .playlist .audiojs .time {
	font-size: 10px;
	right: 5px;
	position: absolute;
	height: auto;
	line-height: 12px;
	bottom: 0;
	border: 0;
}
.video-slide .main-editor .music-tracker .playlist .audiojs .play-pause {
	margin-top: -8px;
	padding: 4px 0 !important;
	border-color: #999;
	height: 27px !important;
}
.video-slide .main-editor .music-tracker .playlist .audiojs .play-pause p {
	background: none;
	text-align: center;
}
.video-slide .main-editor .music-tracker .playlist .audiojs .play-pause p em{
	font-size: 12px;
	padding: 5px 0;
}
.video-slide .main-editor .music-tracker .playlist-tools {
	margin-top: 20px;
}
.video-slide .main-editor .music-tracker .playlist-tools .btn {
	background-color: #111;
	border: 1px solid #444;
	color: #eee;
	font-size: 13px;
}
.video-slide .main-editor .music-tracker .playlist-tools .btn:hover {
	border: 1px solid rgba(255,255,255,0.5);
	background-color: rgba(255,255,255,0.2);
}
.video-slide .main-editor .music-tracker .playlist-tools .btn:hover em{
	color: #23B7D1;
}

.editable-popup {
	border: 0;
	margin-top: -20px !important;
	margin-left: 1px;
	background-color: #333;
	border: 1px solid #555;
	box-shadow: 5px 5px rgba(0,0,0,0.3);
}
.editable-popup .arrow {
	border-top-color: #333 !important;
	bottom: -8px !important;
}
.editable-popup .arrow:after{
	border-top-color: #555 !important;
	bottom: -2px !important;
	margin-left: -9px !important;
	z-index: -1;
}
.editable-popup .editable-input input, .editable-popup .editable-input textarea {
	background-color: rgba(0,0,0,0.2);
	border-color: rgba(0,0,0,0.2);
	color: #999;
	padding: 4px 10px;
	height: auto;
}

/* inner slide as nav */
.video-slide .inner {
	padding: 5px 30px;
	width: 100%;
	margin: auto;
}
.video-slide .inner .slick-list{
	margin-left: -35px;
	margin-right: -35px;
}
.video-slide .inner .video-thumb-s {
	padding: 5px;
}
.video-slide .inner .video-thumb-s .item-img img{
	border: 1px solid #eee;
	max-height: 85px;
	transition: all 0.35s;
	opacity: 0.7;
	object-fit: cover;
}
.video-slide .inner .video-thumb-s .item-img.active img{
	opacity: 1;
}
.video-slide .inner .video-thumb-s .item-img.active {
	position: relative;
}
.video-slide .inner .video-thumb-s .item-img.active:before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 15px solid #D84A38;
	left: 0;
	right: 0;
	bottom: -5px;
	margin: auto;
}
.video-slide .inner .video-thumb-s .item-img:not(.active):hover img{
	transform: scale(1.1);
	opacity: 1;
}
.video-slide .inner .slick-arrow {
	position: absolute;
	top: 0;
	bottom: 0;
	border: 0;
	background: none;
	border: 1px solid #eee;
	color: #eee;
	opacity: 0.4;
	transition: all 0.35s;
}
.video-slide .inner .slick-arrow:hover {
	opacity: 1;
}
.video-slide .inner .slick-right {
	right: 5px;
}
.video-slide .inner .slick-left {
	left: 5px;
}

/* user settings */

.user-settings-section .title h1 {
	padding: 0;
	margin: 0 0 15px 0;
	font-size: 20px;
	line-height: 22px;
	text-transform: uppercase;
}
.user-settings-section .inner {
	background-color: #fff;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
}
.user-settings-section .inner .subtitle {
	padding: 10px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #38c5ed;
}
.user-settings-section .inner .info .control-label {
	font-weight: 700;
}
.user-settings-section .inner .info .text-editor {
	margin: 0;
	padding: 0;
}
.totalCredits {
	padding-right: 15px;
	font-size: 14px;
	font-weight: bold;
	float: left;
}
.creditsLoader {
	margin-top: 15px;
	margin-bottom: 15px;
	display: block;
	float: left;
	width: 100%;
}
.creditsLoader .item {
	width: 100px;
	text-align: center;
	border-left: 1px solid #eee;
	float: left;
}
.creditsLoader .item:first-child {
	border-left: 0;
}

/* help section */

.help-section .box{
	background-color: #fff;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
	margin-bottom: 25px;
	padding: 20px;
}
.help-section h1 {
	font-size: 24px;
	line-height: 24px;
	padding: 0;
	margin: 0 0 10px 0;
}
.help-section .step .step-title h4 {
	font-size: 14px;
	line-height: 16px;
	padding: 0;
	margin: 0 0 5px 0;
	color: #38c5ed;
	text-transform: uppercase;
}
.help-section .step .info {
	margin-top: 15px;
}


.video-box-demo {
    text-align: center;
    margin: 20px 0;
}
.video-box-demo .vb-body {
    background-color: #192d47;
    border-radius: 3px !important;
    padding: 10px;
}

/* welcome section */
.section-welcome {
    padding-bottom: 50px;
}
.section-welcome h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}
.section-welcome p {
    font-size: 18px;
}
.section-welcome .btn {
    font-size: 24px;
    line-height: 20px;
    padding: 15px 50px;
    height: auto;
    margin: 0 auto;
    font-weight: bold;
    border-radius: 3px !important;
}

@media (max-width: 1199px) {

	.video-variations .listings .inner .item{
		width: 309px;
	}
	.video-variations .listings .inner .item:nth-child(3n+3){
		margin-right: 0;
	}
	.video-section-listing .thumb-list > li {
		width: 33.33%;
		min-width: auto;
	}
}

@media (max-width: 991px) {
	.my-video {
		display: block;
		width: 100%;
		margin-bottom: 25px;
	}
	.my-video .col1 {
		display: block;
		width: 100%;
		background-color: #000;
	}
	.my-video .col1 .video-js {
		position: relative;
		min-height: 350px;
	}
	.my-video .col2 {
		display: block;
		width: 100%;
		background-color: #fff;
		padding: 20px;
	}
	.video-meta {
		display: block;
		background-color: transparent;
		padding: 0;
	}
	.video-meta .item{
		display: block;
		width: 100%;
		margin-bottom: 25px;
		background-color: #fff;
	}

	.video-variations .listings .inner .item{
		width: 357px;
	}
	.video-variations .listings .inner .item:nth-child(odd){
		margin-right: 6px;
	}
	.video-variations .listings .inner .item:nth-child(even){
		margin-right: 0;
	}
	.video-thumb-o .thumb-list li {
		width: 33.33%;
	}

	.video-section-listing .thumb-list > li {
		width: 50%;
		min-width: auto;
	}
}


@media (max-width: 767px) {

	.video-variations .listings .inner .item{
		width: 100%;
		max-width: 354px;
	}
	.footer-logo-section {
		text-align: left;
		padding: 10px 10px 10px 120px;
		background-position: left 10px center;
	}
}


@media (max-width: 700px) {

	.video-thumb-o .thumb-list {
		margin-left: -10px;
		margin-right: -10px;
	}
	.video-thumb-o .thumb-list li,
	.video-section-listing .thumb-list > li {
		width: 50%;
	}
	.video-section-listing .thumb-list > li .thumb .info {
		padding: 10px;
	}
}


@media (max-width: 510px) {
	.video-section-listing .thumb-list > li {
		width: 100%;
	}

}

@media (max-width: 400px) {
	.search-form form{
		display: none;
	}
	.video-thumb-o .thumb-list {
		margin-left: -25px;
		margin-right: -25px;
	}
	.video-thumb-o .thumb-list li {
		width: 100%;
		padding: 15px;
	}
	/*.video-section-listing .thumb-list > li {
		width: 100%;
	}*/
}


.voice-icon{
	position: absolute;
	left: 40%;
	top: 35%;
	z-index: 999;
}
.vd-thumb:hover .play_button:not([data-hide="true"]){
	opacity: 1;
}
.opacity{
	opacity: 0!important;
}
.play_button {
	height: auto;
	width: auto;
	background-color: rgba(0, 0, 0, 0.4);
	/*background-image: url(../img/play-icon.png);*/
	/*background-repeat: no-repeat;*/
	/*background-position: center center;*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
	cursor: pointer;
	opacity: 0;
	transition: all 0.3s;
}
/*.play_button:before {
	content:"\f04b";
	font-family: FontAwesome;
	position: absolute;
	font-size: 44px;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	color: #fff;
}
*/
.play_button span .fa {
	font-size: 40px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	color: #fff;
}


div.loading-icon{
	display: none;
	text-align: center;
}
div.loading-icon img{
	width: 5%;
}


/* IgorKiev 2016-05-03 #delete-video */
.ed_success_mod .modal-dialog {
	max-width: 400px;
}
.ed_success_mod .modal-dialog .modal-content {
	border-radius: 5px !important;
	overflow: hidden;
}

.ed_success_mod .modal-dialog .modal-body,
.ed_success_mod .modal-dialog .modal-footer {
	text-align: center;
	background-color: #d9d9d9;
	/*padding: 15px 25px;*/
}
.ed_success_mod .modal-dialog .modal-footer {
	border-top: none;
	padding-top: 0;
	padding-bottom: 25px;
}

.ed_success_mod .modal-body > div{
	padding-left: 87px;
	position: relative;
	text-align: left;
}
.ed_success_mod .modal-body > div:before {
	position: absolute;
	top: -14px;
	left: 20px;
	font-family: FontAwesome;
	content: "\f071";
	font-size: 50px;
	color: #d34b50;
}

.ed_success_mod .modal-body > div h3 {
	font-size: 24px;
	font-weight: 600;
	line-height: 1rem;
	mt16
}
.ed_success_mod .modal-body > div p {
	font-size: 18px;
	line-height: 1rem;
}

.ed_success_mod .btn {
	background-color: #139bb7;
	border-radius: 5px !important;
	width: 155px;
	line-height: 25px;
}

.ed_success_mod .modal-footer .btn + .btn {
	background-color: #d34b50;
	margin-left: 18px;
}


/* IgorKiev 2016-05-29 settings and credits pages */
.font-weight-700 {
	font-weight: 700;
}
.padding-left-30 {
	padding-left: 30px !important;
}
.padding-top-20 {
	padding-top: 30px !important;
}
.wrapper-padding-20-0 {
	padding: 20px 0px;
}
.wrapper-padding-20-30 {
	padding: 20px 30px;
}
.wrapper-padding-15-20 {
	padding: 15px 20px;
}

.page-title-gray {
	padding: 18px 0;
	min-height: 56px;
	background: #c6c6c6;
}
.page-title-gray h2 {
	margin: 0 !important;
}

article.account-panel {
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 20px;
}
article.account-panel .btn {
	border-radius: 3px !important;
	margin-bottom: 10px;
}

.account-invoice-panels {
	padding: 12px 0;
}
.account-invoice-panels .text-center:first-child{
	border-right: 1px solid #d3d3d3;
}
.account-invoice-panels .text-center img {
	padding: 25px 0;
}

.account-leftSidebar{
	padding: 35px 10px;
}
@media (max-width: 767px) {
	.account-leftSidebar{
		padding: 35px 20px;
	}
}
@media (min-width: 1200px) {
	.account-leftSidebar{
		padding: 35px 80px;
	}
}

.account-leftSidebar .btn {
	margin-top: 20px;
}
.account-leftSidebar a:not(.btn) {
	color: #38c5ed;
	cursor: pointer;
}

.account-block-underscore{
	border-bottom: 2px solid #d3d3d3;
	/*border-bottom: 1px solid #e5e5e5;*/
	padding: 10px 0;
}

.account-floats{

}
.account-floats > div {
	float: left;
}
.account-avatar_2 {
	width: 100px;
	height: 100px;
	margin-left: 20px;
	border-radius: 50% !important;
	overflow: hidden;
}
.account-avatar_2 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.accountH3-grey{
	color: #585858;
	font-size: 18px;
	font-family: 'Monsterrat Light', sans-serif;
	line-height: 20px;
	margin-top: 0;
	padding: 0;
	margin-bottom: 15px;
	font-weight: 700;
}
.accountH3-blue{
	color: #38c5ed;
	font-size: 18px;
	font-family: 'Monsterrat Light', sans-serif;
	line-height: 20px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	/*font-weight: 700;*/
	text-transform: uppercase;
}
.account-background-grey {
	background: #c6c6c6 !important;
}
.account-background-grey .accountH3-grey {
	margin-bottom: 0;
}

.accountText-grey{
	color: #585858;
	font-size: 14px;
	font-family: 'Monsterrat Light', sans-serif;
}
.account-link-underlined{
	color: #38c5ed;
	cursor: pointer;
	border-bottom: 1px solid #38c5ed;
}
.account-link-underlined:hover {
	color: #38c5ed;
}
.account-btn-blue {
	background-color: #68bddb;
}

.account-form{
	padding-top: 10px;
}
.account-form .form-control {
	border: 2px solid #d3d3d3;
	max-width: 300px;
}

/* pricing tables */
.pricing-list {
    padding: 25px 0;
}
.pl-item {
    position: relative;
    background-color: #fafafa;
    overflow: hidden;
    text-align: center;
    border-radius: 10px !important;
}
.pl-item .pl-header {
    background-color: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: Monsterrat Bold;
    font-size: 40px;
    line-height: 40px;
    padding: 15px 0;
    color: #fff;
    display: block;
    width: 100%;
}
.pl-item .pl-header span {
    font-family: Monsterrat Light;
    font-size: 30px;
    line-height: 30px;
    padding-left: 15px;
}
.pl-item .pl-body {
    position: relative;
    display: table;
    width: 100%;
    height: 335px;
    background-color: #fff;
    padding: 25px 40px;
}
.pl-item .pl-body > .pl-inner .pl-thumb {
    position: relative;
    display: block;
    width: 100%;
    height: 160px;
    margin-bottom: 25px;
    border-bottom: 5px solid #333;
}
.pl-item .pl-body > .pl-inner .pl-thumb img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
}
.pl-item .pl-body > .pl-inner .desc p {
    font-size: 18px;
    margin-bottom: 25px;
}
.pl-item .pl-body > .pl-inner .price {
    font-family: Monsterrat Regular;
    font-size: 18px;
    color: #333;
}
.pl-item .pl-body > .pl-actions {
    margin-top: 25px;
}
.pl-item .pl-body > .pl-actions > .btn-default {
    width: 100%;
    font-family: Monsterrat Regular;
    font-size: 18px;
    padding: 16px 30px;
    background-color: #333;
    color: #fff;
    border-radius: 3px !important;
    border: 0;
}
.pl-item .pl-footer > a:hover {
    text-decoration: none;
}
.pl-item .pl-footer > a > span {
    display: block;
    font-family: Monsterrat Bold;
    font-size: 45px;
    line-height: 45px;
}

.pl-item.pli-yellow .pl-header {
    background-color: #ecb029;
}
.pl-item.pli-yellow .pl-body > .pl-inner .pl-thumb {
    border-color: #ecb029;
}
.pl-item.pli-yellow .pl-body > .pl-inner .price {
    color: #ecb029;
}
.pl-item.pli-yellow .pl-body > .pl-actions > .btn-default {
    background-color: #ecb029;
}
.pl-item.pli-red .pl-header {
    background-color: #dd4a4f;
}
.pl-item.pli-red .pl-body > .pl-inner .pl-thumb {
    border-color: #dd4a4f;
}
.pl-item.pli-red .pl-body > .pl-inner .price {
    color: #dd4a4f;
}
.pl-item.pli-red .pl-body > .pl-actions > .btn-default {
    background-color: #dd4a4f;
}
.pl-item.pli-blue .pl-header {
    background-color: #6bbddd;
}
.pl-item.pli-blue .pl-body > .pl-inner .pl-thumb {
    border-color: #6bbddd;
}
.pl-item.pli-blue .pl-body > .pl-inner .price {
    color: #6bbddd;
}
.pl-item.pli-blue .pl-body > .pl-actions > .btn-default {
    background-color: #6bbddd;
}

.clearable{
  background: #fff url(http://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
  border: 1px solid #999;
  padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
  border-radius: 3px;
  transition: background 0.4s;
}
.clearable.x  { background-position: right 40px center; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
.clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */