/****
    TRANSITION 
            ****/
.transition {
    transition: all 0.35s;
}

/****
    FIELDS 
            ****/
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"] {            
    margin-bottom: 0;
}

/****
    RADIUS
            ****/
.off-radius {
    border-radius: 0;
}

/****
    FORM 
            ****/
.form-inline {
    display: table;
    width: 100%;
}            
form .form-control{
    border-radius: 0;
    font-size: 12px;
    border-color: #ddd;
    height: auto;
}
form .form-control:focus{
    box-shadow: none;
    border-color: #aaa;
}
form .input-group-addon {
    border-radius: 0;
    border-color: #ddd;
}
form .btn {
    font-size: 12px;
}
.form-table {
    display: table;
    width: 100%;
}
.form-table .form-group{
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    padding: 0 5px;
}

/****
    BACKGROUND
            ****/
.bg-white {
    background-color: #fff;
}
.bg-dark {
    background-color: #111;
}
.bg-red {
    background-color: #d84a38;
}
.bg-blue {
    background-color: #4b8df8;
}      
.bg-yellow {
    background-color: #ebbd06;
}   
.bg-green {
    background-color: #35aa47;
}   
.bg-grey {
    background-color: #e5e5e5;
}
.bg-grey-1 {
    background-color: #f5f5f5;
}

/****
    FONTS 
            ****/
.font-bold {
    font-weight: bold;
}            
.font-white {
    color: #fff;
}
.font-dark {
    color: #111;
}
.font-red {
    color: #d84a38;
}
.font-blue {
    color: #4b8df8;
}      
.font-yellow {
    color: #ebbd06;
}   
.font-green {
    color: #35aa47;
}   
.font-grey {
    color: #e5e5e5;
}
            
/****
    BUTTONS 
            ****/
.btn {
    border-radius: 0;
    border-color: #ddd;
} 
.btn.dropdown-toggle, .btn-group .btn.dropdown-toggle, .btn:hover, .btn:disabled, .btn[disabled], .btn:focus, .btn:active, .btn.active {
    outline: none !important;
    background-image: none !important;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
.btn-circle {
    border-radius: 25px;
} 
           
.btn.default {
    color: #333333;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}
.btn.default:hover, .btn.default:focus, .btn.default:active, .btn.default.active {
    color: #333333;
    background-color: #d1d1d1;
}
.open .btn.default.dropdown-toggle {
    color: #333333;
    background-color: #d1d1d1;
}
.btn.default:active, .btn.default.active {
    background-image: none;
}
.open .btn.default.dropdown-toggle {
    background-image: none;
}
.btn.default.disabled, .btn.default.disabled:hover, .btn.default.disabled:focus, .btn.default.disabled:active, .btn.default.disabled.active, .btn.default[disabled], .btn.default[disabled]:hover, .btn.default[disabled]:focus, .btn.default[disabled]:active, .btn.default[disabled].active, fieldset[disabled] .btn.default, fieldset[disabled] .btn.default:hover, fieldset[disabled] .btn.default:focus, fieldset[disabled] .btn.default:active, fieldset[disabled] .btn.default.active {
    background-color: #e5e5e5;
}
.btn.default .badge {
    color: #e5e5e5;
    background-color: #333333;
}

.dark.btn {
    color: #111;
    background-color: transparent;
    border-color: #111;
}
.dark.btn:hover, .dark.btn:focus, .dark.btn:active, .dark.btn.active {
    color: #fff;
    background-color: #111;
}
.open .dark.btn.dropdown-toggle {
    color: #fff;
    background-color: #111;
}
.dark.btn:active, .dark.btn.active {
    background-image: none;
}
.open .dark.btn.dropdown-toggle {
    background-image: none;
}
.dark.btn.disabled, .dark.btn.disabled:hover, .dark.btn.disabled:focus, .dark.btn.disabled:active, .dark.btn.disabled.active, .dark.btn[disabled], .dark.btn[disabled]:hover, .dark.btn[disabled]:focus, .dark.btn[disabled]:active, .dark.btn[disabled].active, fieldset[disabled] .dark.btn, fieldset[disabled] .dark.btn:hover, fieldset[disabled] .dark.btn:focus, fieldset[disabled] .dark.btn:active, fieldset[disabled] .dark.btn.active {
    background-color: #fff;
    color: #999;
    border-color: #eee;
}
.dark.btn .badge {
    color: #111;
    background-color: #fff;
    transition: all 0.35s;
}

.white.btn {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.white.btn:hover, .white.btn:focus, .white.btn:active, .white.btn.active {
    color: #111;
    background-color: #fff;
}
.open .white.btn.dropdown-toggle {
    color: #111;
    background-color: #fff;
}
.white.btn:active, .white.btn.active {
    background-image: none;
}
.open .white.btn.dropdown-toggle {
    background-image: none;
}
.white.btn.disabled, .white.btn.disabled:hover, .white.btn.disabled:focus, .white.btn.disabled:active, .white.btn.disabled.active, .white.btn[disabled], .white.btn[disabled]:hover, .white.btn[disabled]:focus, .white.btn[disabled]:active, .white.btn[disabled].active, fieldset[disabled] .white.btn, fieldset[disabled] .white.btn:hover, fieldset[disabled] .white.btn:focus, fieldset[disabled] .white.btn:active, fieldset[disabled] .white.btn.active {
    background-color: #eee;
    color: #999;
    border-color: #eee;
}
.white.btn .badge {
    color: #fff;
    background-color: #111;
}

.red.btn {
    color: #fff;
    background-color: #d84a38;
    border-color: #d84a38;
}
.red.btn:hover, .red.btn:focus, .red.btn:active, .red.btn.active {
    color: #fff;
    background-color: #c13726;
}
.open .red.btn.dropdown-toggle {
    color: #fff;
    background-color: #c13726;
}
.red.btn:active, .red.btn.active {
    background-image: none;
}
.open .red.btn.dropdown-toggle {
    background-image: none;
}
.red.btn.disabled, .red.btn.disabled:hover, .red.btn.disabled:focus, .red.btn.disabled:active, .red.btn.disabled.active, .red.btn[disabled], .red.btn[disabled]:hover, .red.btn[disabled]:focus, .red.btn[disabled]:active, .red.btn[disabled].active, fieldset[disabled] .red.btn, fieldset[disabled] .red.btn:hover, fieldset[disabled] .red.btn:focus, fieldset[disabled] .red.btn:active, fieldset[disabled] .red.btn.active {
    background-color: #d84a38;
}
.red.btn .badge {
    color: #d84a38;
    background-color: #fff;
}

.blue.btn {
    color: #fff;
    background-color: #4b8df8;
    border-color: #4b8df8;
}
.blue.btn:hover, .blue.btn:focus, .blue.btn:active, .blue.btn.active {
    color: #fff;
    background-color: #2474f6;
}
.open .blue.btn.dropdown-toggle {
    color: #fff;
    background-color: #2474f6;
}
.blue.btn:active, .blue.btn.active {
    background-image: none;
}
.open .blue.btn.dropdown-toggle {
    background-image: none;
}
.blue.btn.disabled, .blue.btn.disabled:hover, .blue.btn.disabled:focus, .blue.btn.disabled:active, .blue.btn.disabled.active, .blue.btn[disabled], .blue.btn[disabled]:hover, .blue.btn[disabled]:focus, .blue.btn[disabled]:active, .blue.btn[disabled].active, fieldset[disabled] .blue.btn, fieldset[disabled] .blue.btn:hover, fieldset[disabled] .blue.btn:focus, fieldset[disabled] .blue.btn:active, fieldset[disabled] .blue.btn.active {
    background-color: #4b8df8;
}
.blue.btn .badge {
  color: #4b8df8;
  background-color: #fff;
}

.green.btn {
    color: #fff;
    background-color: #35aa47;
    border-color: #35aa47;
}
.green.btn:hover, .green.btn:focus, .green.btn:active, .green.btn.active {
    color: #fff;
    background-color: #2b8b3a;
}
.open .green.btn.dropdown-toggle {
    color: #fff;
    background-color: #2b8b3a;
}
.green.btn:active, .green.btn.active {
    background-image: none;
}
.open .green.btn.dropdown-toggle {
    background-image: none;
}
.green.btn.disabled, .green.btn.disabled:hover, .green.btn.disabled:focus, .green.btn.disabled:active, .green.btn.disabled.active, .green.btn[disabled], .green.btn[disabled]:hover, .green.btn[disabled]:focus, .green.btn[disabled]:active, .green.btn[disabled].active, fieldset[disabled] .green.btn, fieldset[disabled] .green.btn:hover, fieldset[disabled] .green.btn:focus, fieldset[disabled] .green.btn:active, fieldset[disabled] .green.btn.active {
    background-color: #35aa47;
}
.green.btn .badge {
    color: #35aa47;
    background-color: #fff;
}

.yellow.btn {
    color: #fff;
    background-color: #ebbd06;
    border-color: #ebbd06;
}
.yellow.btn:hover, .yellow.btn:focus, .yellow.btn:active, .yellow.btn.active {
    color: #fff;
    background-color: #d7ad07;
}
.open .yellow.btn.dropdown-toggle {
    color: #fff;
    background-color: #d7ad07;
}
.yellow.btn:active, .yellow.btn.active {
    background-image: none;
}
.open .yellow.btn.dropdown-toggle {
    background-image: none;
}
.yellow.btn.disabled, .yellow.btn.disabled:hover, .yellow.btn.disabled:focus, .yellow.btn.disabled:active, .yellow.btn.disabled.active, .yellow.btn[disabled], .yellow.btn[disabled]:hover, .yellow.btn[disabled]:focus, .yellow.btn[disabled]:active, .yellow.btn[disabled].active, fieldset[disabled] .yellow.btn, fieldset[disabled] .yellow.btn:hover, fieldset[disabled] .yellow.btn:focus, fieldset[disabled] .yellow.btn:active, fieldset[disabled] .yellow.btn.active {
    background-color: #ebbd06;
}
.yellow.btn .badge {
    color: #ebbd06;
    background-color: #fff;
}



/****
    PADDING 
            ****/
.p0, .p-off {
    padding: 0 !important;
}

.p-xs {
    padding: 25px !important;
}
.pt-xs {
    padding-top: 25px !important;
}
.pb-xs {
    padding-bottom: 25px !important;
}
.pr-xs {
    padding-right: 25px !important;
}
.pl-xs {
    padding-left: 25px !important;
}
.ptb-xs {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}
.plr-xs {
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.p-sm {
    padding: 40px !important;
}
.pt-sm {
    padding-top: 40px !important;
}
.pb-sm {
    padding-bottom: 40px !important;
}
.pr-sm {
    padding-right: 40px !important;
}
.pl-sm {
    padding-left: 40px !important;
}
.ptb-sm {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.plr-sm {
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.p-md {
    padding: 80px !important;
}
.pt-md {
    padding-top: 80px !important;
}
.pb-md {
    padding-bottom: 80px !important;
}
.pr-md {
    padding-right: 80px !important;
}
.pl-md {
    padding-left: 80px !important;
}
.ptb-md {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}
.plr-md {
    padding-left: 80px !important;
    padding-right: 80px !important;
}
.p-lg {
    padding: 160px !important;
}
.pt-lg {
    padding-top: 160px !important;
}
.pb-lg {
    padding-bottom: 160px !important;
}
.pr-lg {
    padding-right: 160px !important;
}
.pl-lg {
    padding-left: 160px !important;
}
.ptb-lg {
    padding-top: 160px !important;
    padding-bottom: 160px !important;
}
.plr-lg {
    padding-left: 160px !important;
    padding-right: 160px !important;
}
.p-xlg {
    padding: 300px !important;
}
.pt-xlg {
    padding-top: 300px !important;
}
.pb-xlg {
    padding-bottom: 300px !important;
}
.pr-xlg {
    padding-right: 300px !important;
}
.pl-xlg {
    padding-left: 300px !important;
}
.ptb-xlg {
    padding-top: 300px !important;
    padding-bottom: 300px !important;
}
.plr-xlg {
    padding-left: 300px !important;
    padding-right: 300px !important;
}
.p5 {
    padding: 5px !important;
}
.pt5 {
    padding-top: 5px !important;
}
.pb5 {
    padding-bottom: 5px !important;
}
.pr5 {
    padding-right: 5px !important;
}
.pl5 {
    padding-left: 5px !important;
}
.ptb5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.plr5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.p10 {
    padding: 10px !important;
}
.pt10 {
    padding-top: 10px !important;
}
.pb10 {
    padding-bottom: 10px !important;
}
.pr10 {
    padding-right: 10px !important;
}
.pl10 {
    padding-left: 10px !important;
}
.ptb10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.plr10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.p15 {
    padding: 15px !important;
}
.pt15 {
    padding-top: 15px !important;
}
.pb15 {
    padding-bottom: 15px !important;
}
.pr15 {
    padding-right: 15px !important;
}
.pl15 {
    padding-left: 15px !important;
}
.ptb15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.plr15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.p20 {
    padding: 20px !important;
}
.pt20 {
    padding-top: 20px !important;
}
.pb20 {
    padding-bottom: 20px !important;
}
.pr20 {
    padding-right: 20px !important;
}
.pl20 {
    padding-left: 20px !important;
}
.ptb20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.plr20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

/****
    MARGIN 
            ****/
.m0, .m-off {
    margin: 0 !important;
}
.m-auto {
    margin: auto !important;
}
.m-xs {
    margin: 25px !important;
}
.mt-xs {
    margin-top: 25px !important;
}
.mb-xs {
    margin-bottom: 25px !important;
}
.mr-xs {
    margin-right: 25px !important;
}
.ml-xs {
    margin-left: 25px !important;
}
.mtb-xs {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}
.mlr-xs {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}
.m-sm {
    margin: 40px !important;
}
.mt-sm {
    margin-top: 40px !important;
}
.mb-sm {
    margin-bottom: 40px !important;
}
.mr-sm {
    margin-right: 40px !important;
}
.ml-sm {
    margin-left: 40px !important;
}
.mtb-sm {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}
.mlr-sm {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}
.m-md {
    margin: 80px !important;
}
.mt-md {
    margin-top: 80px !important;
}
.mb-md {
    margin-bottom: 80px !important;
}
.mr-md {
    margin-right: 80px !important;
}
.ml-md {
    margin-left: 80px !important;
}
.mtb-md {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}
.mlr-md {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}
.m-lg {
    margin: 160px !important;
}
.mt-lg {
    margin-top: 160px !important;
}
.mb-lg {
    margin-bottom: 160px !important;
}
.mr-lg {
    margin-right: 160px !important;
}
.ml-lg {
    margin-left: 160px !important;
}
.mtb-lg {
    margin-top: 160px !important;
    margin-bottom: 160px !important;
}
.mlr-lg {
    margin-top: 160px !important;
    margin-bottom: 160px !important;
}
.m-xlg {
    margin: 300px !important;
}
.mt-xlg {
    margin-top: 300px !important;
}
.mb-xlg {
    margin-bottom: 300px !important;
}
.mr-xlg {
    margin-right: 300px !important;
}
.ml-xlg {
    margin-left: 300px !important;
}
.mtb-xlg {
    margin-top: 300px !important;
    margin-bottom: 300px !important;
}
.mlr-xlg {
    margin-top: 300px !important;
    margin-bottom: 300px !important;
}
.m5 {
    margin: 5px !important;
}
.mt5 {
    margin-top: 5px !important;
}
.mb5 {
    margin-bottom: 5px !important;
}
.mr5 {
    margin-right: 5px !important;
}
.ml5 {
    margin-left: 5px !important;
}
.mtb5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.mlr5 {
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.m10 {
    margin: 10px !important;
}
.mt10 {
    margin-top: 10px !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mr10 {
    margin-right: 10px !important;
}
.ml10 {
    margin-left: 10px !important;
}
.mtb10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.mlr10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.m15 {
    margin: 15px !important;
}
.mt15 {
    margin-top: 15px !important;
}
.mb15 {
    margin-bottom: 15px !important;
}
.mr15 {
    margin-right: 15px !important;
}
.ml15 {
    margin-left: 15px !important;
}
.mtb15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.mlr15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.m20 {
    margin: 20px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mr20 {
    margin-right: 20px !important;
}
.ml20 {
    margin-left: 20px !important;
}
.mtb20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.mlr20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}


/***
Bootstrap Datepaginator
***/
.datepaginator a {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 300;
}

.datepicker .today {
    background-image: none !important;
    filter: none !important;
}

#dp-calendar {
    right: 4px !important;
}

.datepaginator .fa-angle-right:before {
    content: "\f105";
}

.datepaginator .fa-angle-left:before {
    content: "\f104";
}

/***
Bootstrap Datepicker
***/
.datepicker.dropdown-menu {
    padding: 5px;
}

.datepicker .selected {
    background-color: #909090 !important;
    background-image: none !important;
    filter: none !important;
}

.datepicker .active {
    background-color: #ebbd06 !important;
    background-image: none !important;
    filter: none !important;
}

.datepicker .active:hover {
    background-color: #ebbd06 !important;
    background-image: none !important;
    filter: none !important;
}

.datepicker .input-daterange input {
    text-align: left;
}

/* change z-index when opened in modal */
.modal-open .datepicker {
    z-index: 10055 !important;
}

.datepicker table tr td span {
    border-radius: 0;
}

.datepicker table td {
    color: #111;
    font-weight: 300  !important;
    border-radius: 0 !important;
}

.datepicker table th {
    color: #333;
    font-weight: 400  !important;
    border-radius: 0 !important;
}

.datepicker.dropdown-menu {
    box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
    border: 1px solid #efefef;
    border-radius: 0;
    font-size: 12px;
}

/***
Bootstrap Daterangepicker
***/
.modal-open .daterangepicker {
    z-index: 10055 !important;
}

.daterangepicker {
    margin-top: 4px;
}

.daterangepicker td {
    text-shadow: none;
}

.daterangepicker td.active {
    background-color: #4b8df8;
    background-image: none;
    filter: none;
}

.daterangepicker th {
    font-weight: 400;
    font-size: 14px;
}

.daterangepicker .ranges input[type="text"] {
    width: 70px !important;
    font-size: 11px;
    vertical-align: middle;
}

.daterangepicker .ranges label {
  font-weight: 300;
  display: block;
}

.daterangepicker .ranges .btn {
    margin-top: 10px;
}

.daterangepicker.dropdown-menu {
    padding: 5px;
}

.daterangepicker .ranges li {
    color: #333;
}

.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
    background: #4b8df8 !important;
    border: 1px solid #4b8df8 !important;
    color: #fff;
}

.daterangepicker .range_inputs input {
    margin-bottom: 0 !important;
}

.daterangepicker .fa-angle-right:before {
    content: "\f105";
}

.daterangepicker .fa-angle-left:before {
    content: "\f104";
}

/***
Bootstrap  Datetimepicker
***/
.datetimepicker table td {
    color: #000;
    font-weight: 300  !important;
}

.datetimepicker table th {
    font-weight: 400  !important;
}

.datetimepicker.dropdown-menu {
    padding: 5px;
}

.datetimepicker .active {
    background-color: #4b8df8 !important;
    background-image: none !important;
    filter: none !important;
}

.datetimepicker .active:hover {
    background-color: #2678FC !important;
    background-image: none !important;
    filter: none !important;
}

.datetimepicker .fa-angle-left:before {
    content: "\f104";
}

.datetimepicker .fa-angle-right:before {
    content: "\f105";
}

/* change z-index when opened in modal */
.modal-open .datetimepicker {
    z-index: 10055 !important;
}

/***
Bootstrap Select
***/
.bootstrap-select .btn {
    border-color: #e5e5e5;
}

.has-error .bootstrap-select .btn {
    border-color: #ebccd1;
}

.has-success .bootstrap-select .btn {
    border-color: #d6e9c6;
}

.has-warning .bootstrap-select .btn {
    border-color: #faebcc;
}

.bootstrap-select.open .btn {
    border-color: #999999;
}

.bootstrap-select.open.dropup .btn {
    border-color: #999999;
}

.bootstrap-select .btn:focus {
    outline: none !important;
    outline-offset: 0;
}

.bootstrap-select.btn-group .dropdown-menu {
    margin-top: 1px;
}

.bootstrap-select.btn-group .dropdown-menu > li > dt > .text {
    font-weight: 600;
    font-family: 'Open Sans';
    font-size: 14px;
}

.bootstrap-select.btn-group .dropdown-menu .text-muted {
    color: #999 !important;
}

.bootstrap-select .caret {
    border: 0;
    width: auto;
    height: auto;
    margin-top: -10px !important;
}

.bootstrap-select .caret:before {
    content: "\f107";
    display: inline-block;
    border: 0;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.bootstrap-select .selected i {
    color: #aaa;
}

.bootstrap-select .dropdown-menu {
    z-index: 9999 !important;
}

/***
Dropdown Menu
***/
.dropdown-menu {
    min-width: 175px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-height: 0px!important;
    display: none;
    float: left;
    list-style: none;
    text-shadow: none;
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
    border: 1px solid #eee;
    border-radius: 0;
    font-size: 14px;
}
.dropdown-menu li > a {
    padding: 8px 14px;
    color: #555;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
}
.dropdown-menu li > a > [class^="fa-"],
.dropdown-menu li > a > [class*=" fa-"] {
    color: #888;
}
.dropdown-menu li > a > [class^="icon-"],
.dropdown-menu li > a > [class*=" icon-"] {
    color: #666;
}
.dropdown-menu li > a > [class^="glyphicon-"],
.dropdown-menu li > a > [class*=" glyphicon-"] {
    color: #888;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    text-decoration: none;
    background-image: none;
    background-color: #f6f6f6;
    color: #555;
    filter: none;
}
.dropdown-menu.bottom-up {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}

/* Dropdown submenu support for Bootsrap 3 */
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 5px;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}
.dropdown-submenu > a:after {
    position: absolute;
    display: inline-block;
    font-size: 14px;
    right: 7px;
    top: 7px;
    font-family: FontAwesome;
    height: auto;
    content: "\f105";
    font-weight: 300;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
}
.dropup .dropdown-submenu > .dropdown-menu {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: -2px;
}


/* Form input sizing */
.input-mini {
    width: 45px !important;
}

.input-xsmall {
    width: 80px !important;
}

.input-small {
    width: 120px !important;
}

.input-medium {
    width: 240px !important;
}

.input-large {
    width: 320px !important;
}

.input-xlarge {
    width: 420px !important;
}

.input-inline {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-group .input-inline {
    margin-right: 5px;
}

.input-sm {
    height: 28px;
    padding: 5px 10px;
    font-size: 13px;
}

select.input-sm {
    height: 28px;
    line-height: 28px;
    padding: 2px 10px;
}

@media (max-width: 768px) {
    /* 768px */
    .input-large {
        width: 250px !important;
    }

    .input-xlarge {
        width: 300px !important;
    }
}

/* SHOULD ALSO INCLUDE A RUNNING SCRIPT FOR THIS <-- theme-an.js */
@media screen and (max-width: 768px) {
    .side-collapse___container{
        width: 100%;
        position: relative;
        left: 0;
        transition: left .4s;
    }
    .side-collapse___container.out{
        left: 200px;
    }
    .side-collapse {
        top: 50px;
        bottom: 0;
        left: 0;
        width: 200px;
        position: fixed;
        overflow: hidden;
        transition: width 0.4s;
    }
    .side-collapse.in {
        Width: 0;
    }
}