@font-face {
font-family: Monsterrat Black;
src: url("../font/Montserrat-Black.otf") format("opentype");
}
@font-face {
font-family: Monsterrat Bold;
src: url("../font/Montserrat-Bold.otf") format("opentype");
}
@font-face {
font-family: Monsterrat Semi Bold;
src: url("../font/Montserrat-SemiBold.otf") format("opentype");
}
@font-face {
font-family: Monsterrat Extra Bold;
src: url("../font/Montserrat-ExtraBold.otf") format("opentype");
}
@font-face {
font-family: Monsterrat Light;
src: url("../font/Montserrat-Light.otf") format("opentype");
}
@font-face {
font-family: Monsterrat Regular;
src: url("../font/Montserrat-Regular.otf") format("opentype");
}

body {
    font-family: 'Monsterrat Regular', sans-serif;
    font-size: 14px;
    color: #585858;
    font-weight: 300;
}
a {
    outline: none !important;
}
a:hover, a:focus {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1144px;
}

.page-title {
    font-family: Monsterrat Regular;
    font-size: 30px;
    color: #fff;
    padding: 0;
    margin: 0 0 50px;
    text-transform: uppercase;
}
.page-title.pt-single {
    margin: 0;
}
.page-title > span {
    font-family: Monsterrat Semi Bold;
}
.page-title-1 {
    font-family: Monsterrat Regular;
    font-size: 24px;
    color: #fff;
    padding: 0;
    margin: 0 0 50px;
    text-transform: uppercase;
}
.page-title-1.pt-single {
    margin: 0;
}
.page-title-1 > span {
    font-family: Monsterrat Semi Bold;
}
.pt-dark {
    color: #5b5b5b;
}

.btn {
    font-family: Monsterrat Light;
    padding: 6px 25px;
    background-color: #333;
    color: #fff;
    border-radius: 3px !important;
    border: 0;
    margin: 0 5px;
    text-shadow: none;
}
.btn:hover {
    color: #fafafa;
}
.btn .icon {
    margin-right: 2px;
}
.btn.btn-red {
    background-color: #d34b50;
}
.btn.btn-blue {
    background-color: #68bddb;
}
.btn.btn-yellow {
    background-color: #f1c044;
}
.btn-primary {
    font-family: Monsterrat Bold;
    background-color: #223753;
    padding: 10px 25px;
    font-size: 18px;
}
.btn-primary > span {
    font-family: Monsterrat Light;
}
.btn-default {
    font-family: Monsterrat Bold;
    color: #fff;
    background-color: #f1c044;
    padding: 10px 25px;
    font-size: 18px;
}
.btn-default > span {
    font-family: Monsterrat Light;
}
.btn-default:hover {
    background-color: #f1c044;    
}
.title {
    color: #f3ae00;
}
.sub-title {
    font-size: 21px;
    color: #656565;
}
.sub-title-1 {
    font-size: 16px;
    line-height: 30px;
    color: #656565;
}

h1 {
    font-size: 60px;
}
p{
    color: #585858;
    font-family: 'Monsterrat Light', sans-serif;
}

/* jv icons */
.jv-icon {
    position: relative;
    display: block;
    background-image: url(../img/jv-icon-white.png);
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
}
.jv-icon.ji-yellow {
    background-image: url(../img/jv-icon-yellow.png);
}
.jv-icon.ji-blue {
    background-image: url(../img/jv-icon-blue.png);
}
.jv-icon.jvi-3step {
    background-position: 0 0;
}
.jv-icon.jvi-cloud {
    background-position: -214px 0;
}
.jv-icon.jvi-spokes {
    background-position: -427px 0;
}
.jv-icon.jvi-cursor {
    background-position: -641px 0;
}
.jv-icon.jvi-engaging {
    background-position: -855px 0;
}

/* background colors */
.sbg-white {
    background-color: #fff;
    color: #585858;
}
.sbg-grey {
    background-color: #e5e5ed;
    color: #585858;
}
.sbg-yellow {
    background-color: #f1c044;
    color: #585858;
}
.sbg-blue {
    background-color: #223753;
    color: #fff;
}
.sbg-light-blue {
    background-color: #68bddb;
    color: #fff;
}
.sbg-blue p {
    color: #fff;
}
.sbg-light-blue p {
    color: #fff;
}

/* begin content styling */
.top-section {
    position: relative;
    color: #fff;
    background-color: #fff;
    background-image: url(../img/main-bg.png);
    background-size: cover;
    background-position: center;
}
.top-section > nav {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    width: 100%;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    border: 0;
    color: #fff;
    z-index: 999;
}
.top-section > nav .container {
    position: relative;
}
.top-section > nav .navbar-nav {
    margin-top: 30px;
}
.top-section > nav .navbar-nav > li > a {
    font-size: 18px;
    color: #fff;
    padding: 7px 35px;
}
.top-section > nav .navbar-nav > li > a:hover {
    color: #fff;
}
.top-section > nav .navbar-nav > li > a.btn-theme {
    margin-left: 15px;
    margin-top: -3px;
    background-image: none;
    text-shadow: none;
    border-color: #f1c044;
    background-color: #f1c044;
}
.top-section > nav .navbar-brand {
    position: absolute;
    top: 0;
    left: 0;
}
.top-section > nav .navbar-brand img {
    width: 208px;
    margin-top: -5px;
}
.top-section .inner {
    position: relative;
    text-align: center;
    padding: 200px 0 100px 0;
}
.top-section .inner .caption h2 {
    font-family: Monsterrat Regular;
    font-size: 40px;
    margin: 0;
}
.top-section .inner .caption p {
    color: #fff;
    font-family: Monsterrat Light;
    font-style: italic;
    font-size: 24px;
}
.top-section .inner .caption .play-button {
    display: block;
    margin-top: 50px;
}
.top-section .inner .caption .play-button img {
    max-width: 55px;
}
.top-section .inner .caption .video-box-demo {
    margin-top: 50px;
}

.top-section .sub-info-list {
    width: 100%;
    text-align: center;
}
.top-section .sub-info-list .sil-inner {
    width: 100%;
    display: block;
    padding-bottom: 25px;
}
.top-section .sub-info-list .sil-inner > .sil-item {
    width: calc(100%/3);
    float: left;
    padding: 0 25px;
}
/* .top-section .sub-info-list .sil-inner > .sil-item > .info {
    border-bottom: 9px solid transparent;
} */
.top-section .sub-info-list .sil-inner > .sil-item > .info > h4 {
    font-size: 18px;
    margin: 0;
    padding: 22px 0 33px;
}
.top-section .sub-info-list .sil-inner > .sil-item > .info > .jv-icon {
    margin: auto;
}
.top-section .sub-info-list .sil-inner > .sil-item.active > .info, .top-section .sub-info-list .sil-inner > .sil-item:hover > .info {
    border-color: #f1c044;
}
.top-section .sub-info-list .sil-inner > .sil-item.active > .info > .jv-icon, .top-section .sub-info-list .sil-inner > .sil-item:hover > .info > .jv-icon {
    background-image: url(../img/jv-icon-orange.png);
}

/* sections */
.section {
    position: relative;
    padding: 50px 0;
}

/* section intro */
.section-intro .page-title {
    color: #d34b50;
}
.section-intro p {
    font-size: 24px;
    font-family: Monsterrat Light;
    margin: 10px auto;
}
.section-intro ul {
    margin-top: 10px;
    padding: 0;
    list-style: none;
    font-family: Monsterrat Light;
}
.section-intro ul > li {
    position: relative;
    font-size: 24px;
    padding: 0 0 20px;
}
.section-intro ul > li:before {
    position: absolute;
    content: '';
    width: 50px;
    height: 3px;
    background-color: #68bddb;
    left: -10px;
    top: 0;
    bottom: -20px;
    margin: auto;
}

/* custom title */
.custom-title {
    color: #585858;
    margin-bottom: 50px;
}
.custom-title > h2 {
    font-family: Monsterrat Regular;
    font-size: 30px;
    padding: 0;
    margin: 0;
}
.custom-title > h4 {
    font-family: Monsterrat Light;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

/* making videos section */
.section-making-videos {
    text-align: center;
}
.section-making-videos .step-by-list {
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0;
}
.section-making-videos .step-by-list > ul.sbl-nav {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 0;
}
.section-making-videos .step-by-list > ul.sbl-nav > li {
    position: relative;
    display: inline-block;
    float: none;
    padding: 0 30px;
}
.section-making-videos .step-by-list > ul.sbl-nav > li:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: -40px;
    margin: auto;
    width: 80px;
    height: 4px;
    background-color: #585858;
}
.section-making-videos .step-by-list > ul.sbl-nav > li:last-child:before {
    display: none;
}
.section-making-videos .step-by-list > ul.sbl-nav > li > a {
    position: relative;
    display: block;
    background-color: #e5e5ed;
    width: 135px;
    height: 131px;
    color: #585858;
    border: 4px solid #585858;
    border-radius: 50% !important;
    font-family: Monsterrat Light;
    font-size: 76px;
    line-height: 96px;
    z-index: 1;
}
.section-making-videos .step-by-list > ul.sbl-nav > li.active > a {
    background-color: #f1c044;
}
.section-making-videos .step-by-list > ul.sbl-nav > li.active:after {
    position: absolute;
    content: '';
    border-style: solid;
    border-color: transparent;
    border-width: 25px 20px;
    width: 0;
    height: 0;
    border-bottom-color: #f1c044;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: auto;
}
.section-making-videos .step-by-list > .tab-content {
    margin-top: 50px;
    margin-bottom: 0;
    background-color: #f1c044;
    padding: 50px;
    font-size: 24px;
}
.section-making-videos .step-by-list > .tab-content .inner {
    width: 100%;
    max-width: 800px;
    margin: auto;
}
.section-making-videos .step-by-list > .tab-content .inner > p {
    margin-top: 0;
}
.section-making-videos .step-by-list > .tab-content .inner > p:last-child {
    margin-bottom: 0;
}

/* section marketing */
.section-marketing {
    text-align: center;
    background-image: url(../img/map.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.section-marketing .custom-title {
    margin-bottom: 50px;
}
.section-marketing .custom-title > h2 {
    font-family: Monsterrat Light;
    font-size: 30px;
    text-transform: uppercase;
}
.section-marketing .custom-title > h2 > span:first-child {
    font-family: Monsterrat Bold;
    font-size: 36px;
}
.section-marketing .custom-title > h2 > span:last-child {
    display: block;
    font-family: Monsterrat Semi Bold;
}

/* marketing list */
.marketing-list .ml-item > .icon {
    display: block;
    margin: auto;
    background-color: #f1c044;
    color: #585858;
    font-size: 52px;
    line-height: 102px;
    border-radius: 50% !important;
    height: 107px;
    width: 107px;
}
.marketing-list .ml-item > p {
    font-family: Monsterrat Light;
    font-size: 18px;
    margin-bottom: 0;
}

/* work step icon */
.work-step-item {
    font-family: Monsterrat Light;
    text-align: center;
}
.work-step-item > .icon img {
    margin: auto;
}
.work-step-item > .title {
    margin-top: 25px;
}
.work-step-item > .title {
    font-family: Monsterrat Light;
    font-size: 24px;
    color: #585858;
}
/* .work-step-item > .title span {
    color: #223753;
} */
.work-step-item > .info {
    margin-top: 25px;
    margin-bottom: 25px;
}
/* video making list */
.section-video-steps-header {
    padding: 70px 0;
    color: #5b5b5b;
}
.section-video-steps-header .page-title {
    font-family: Monsterrat Regular;
    color: #5b5b5b;
    font-size: 30px;
}
.section-video-steps {
    font-family: Monsterrat Light;
    background-color: #4b6688;
    border-top: 4px solid #68bddb;
    color: #fff;
}
.section-video-steps .svs-item {
    position: relative;
    text-align: center;
}
.section-video-steps .svs-item > span {
    position: absolute;
    color: #5b5b5b;
    background-color: #e5e5ed;
    font-size: 36px;
    line-height: 60px;
    width: 76px;
    height: 76px;
    border-radius: 50% !important;
    margin: auto;
    top: -91px;
    right: 0;
    left: 0;
}
.section-video-steps .svs-item > span:before {
    position: absolute;
    content: '';
    width: 76px;
    height: 76px;
    border-radius: 50% !important;
    border: 4px solid #68bddb;
    border-top-color: #e5e5ed;
    border-left-color: #e5e5ed;
    margin: auto;
    right: 0;
    left: 0;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.section-video-steps .svs-item > img {
    width: 100%;
}
.section-video-steps .svs-item > h4 {
    font-family: Monsterrat Light;
    font-size: 26px;
}
.section-video-steps .svs-item > p {
    font-family: Monsterrat Light;
    font-size: 16px;
    color: #fff;
    margin: 0;
}

/* SUPER power section */
.section-superpower {
    background-image: url(../img/rocket.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 40%;
}
@media (max-width: 991px) {
    .section-superpower {
        background-size: 280px;
        padding-bottom: 150px;
    }
}
.section-superpower .page-title {
    color: #68bddb;
}
.section-superpower p {
    font-size: 24px;
}

/* software section */
.section-software {
    background-image: url(../img/bg-software.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.section-software .ss-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.section-software .ss-list ul li {
    position: relative;
    color: #575757;
    height: 132px;
    padding-left: 90px;
}
.section-software .ss-list ul li p {
    font-size: 18px;
    color: #fff;
    margin: 0;
    padding: 15px 0;
}
.section-software .ss-list ul li span {
    font-family: Monsterrat Light;
    color: #fff;
    position: absolute;
    font-size: 44px;
    z-index: 9;
    text-align: center;
    top: 0;
    left: 0;
    width: 71px;
    height: 71px;
    border-radius: 50% !important;
    border: 4px solid #575757;
    z-index: 1;
}
.section-software .ss-list ul li span:before {
    position: absolute;
    content: '';
    height: 62px;
    width: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-right: 4px solid #fff;
    bottom: -65px;
    z-index: 0;
}
.section-software .ss-list ul li.ssl-blue span {
    border-color: #00bedd;
}
.section-software .ss-list ul li.ssl-red span {
    border-color: #ff494e;
}
.section-software .ss-list ul li.ssl-yellow span {
    border-color: #ffc134;
}
.section-software .ss-list ul li:last-child {
    height: auto;
}
.section-software .ss-list ul li:last-child span:before {
    display: none;
}

/* section boost */
.section-boost .page-title {
    color: #585858;
}
.section-boost p {
    margin-top: 0;
    font-size: 18px;
}
.section-boost p:last-child {
    margin-bottom: 0;
}

/* pricing blocks */
@media (min-width: 767px) {
    .section-pricing > .container > .row > * {
        padding: 0;
    }
}
.pricing-block {
    background-color: #fff;
    text-align: center;
    border-radius: 10px !important;
    overflow: hidden;
}
.pricing-block > .title {
    font-family: Monsterrat Semi Bold;
    font-size: 30px;
    line-height: 30px;
    padding: 18px 0;
    display: block;
    color: #fff;
    background-color: #333;
    padding: 15px 0;
}
.pricing-block > .pricing {
    font-family: Monsterrat Extra Bold;
    padding: 10px 0;
    display: block;
    font-size: 48px;
}
.pricing-block > .details {
    margin: 0;
    padding: 0 35px;
    list-style: none;
    text-align: left;
}
.pricing-block > .details > li {
    position: relative;
    font-family: Monsterrat Light;
    font-size: 18px;
    padding: 18px 10px 18px 55px;
    text-align: left;
    border-bottom: 1px solid #d6d6d6;
}
.pricing-block > .details > li b {
    font-family: Monsterrat Bold;
    font-weight: 300;
}
.pricing-block > .details > li:last-child {
    border-bottom: 0;
}
.pricing-block > .details > li:after {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    left: 15px;
    background-image: url(../img/marks.png);
    background-repeat: no-repeat;
    background-position: -81px center;
}
.pricing-block > .details > li.check:after {
    background-position: -7px center;
}
.pricing-block > .actions {
    padding: 25px 45px;
}
.pricing-block > .actions > .sub-price {
    font-size: 36px;
    text-align: center;
    display: block;
    padding: 15px 0;
    color: #d75b60;
}
.pricing-block > .actions > .btn-default {
    font-size: 24px;
    line-height: 24px;
    padding: 15px 50px;
    height: auto;
    display: block;
    width: 100%;
    margin: 0;
}

.pricing-block.pb-yellow > .title{
    background-color: #ffc134;
}
.pricing-block.pb-blue > .title {
    background-color: #00bedd;
}
.pricing-block.pb-yellow > .pricing {
    color: #ffc134;
    background-color: #fff3d5;
}
.pricing-block.pb-blue > .pricing {
    color: #00bedd;
    background-color: #d4f4ff;
}
.pricing-block.pb-blue > .details > li.check:after {
    background-position: -44px center;
}
.pricing-block.pb-yellow > .actions > .btn-default {
    background-color: #ffc134;
}
.pricing-block.pb-blue > .actions > .btn-default {
    background-color: #00bedd;
}

/* pricing tables */
.pricing-list {
    padding: 25px;
}
.pl-item {
    position: relative;
    background-color: #fafafa;
    overflow: hidden;
    text-align: center;
    border-radius: 10px !important;
}
.pl-item .pl-header {
    background-color: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: Monsterrat Bold;
    font-size: 65px;
    line-height: 65px;
    padding: 25px 0;
    color: #fff;
    display: block;
    width: 100%;
}
.pl-item .pl-body {
    position: relative;
    display: table;
    width: 100%;
    height: 435px;
    background-color: #fff;
}
.pl-item .pl-body > .pl-inner {
    display: table-cell;
    vertical-align: bottom;
    height: 100%;
    padding: 5px 66px;

}
.pl-item .pl-body > .pl-inner ul {
    border-top: 5px solid #333;
    list-style: none;
    padding: 0;
    margin: 0;
}
.pl-item .pl-body > .pl-inner ul > li {
    font-size: 22px;
    line-height: 22px;
    padding: 16px 0;
    color: #1e3653;
}
.pl-item .pl-footer > a {
    font-family: Monsterrat Light;
    font-size: 21px;
    color: #1e3653;
    display: block;
    width: 100%;
    background-color: #eee;
    padding: 25px 0;
}
.pl-item .pl-footer > a:hover {
    text-decoration: none;
}
.pl-item .pl-footer > a > span {
    display: block;
    font-family: Monsterrat Bold;
    font-size: 65px;
    line-height: 65px;
}

.pl-item.pli-yellow .pl-header {
    background-color: #ecb029;
}
.pl-item.pli-yellow .pl-body > .pl-inner ul {
    border-color: #ecb029;
}
.pl-item.pli-red .pl-header {
    background-color: #dd4a4f;
}
.pl-item.pli-red .pl-body > .pl-inner ul {
    border-color: #dd4a4f;
}
.pl-item.pli-blue .pl-header {
    background-color: #6bbddd;
}
.pl-item.pli-blue .pl-body > .pl-inner ul {
    border-color: #6bbddd;
}


/* demo section */
.section-demo {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f0f0f5;
}
.section-demo .page-title {
    text-align: center;
    color: #585858;
}
.demo-list-1 {
    padding: 25px 0;
    text-align: left;
}
.demo-list-1:nth-child(even) {
    background-color: #e5e5ed;
}
.demo-list-1 .vdemo-title {
    font-family: Monsterrat Light;
    color: #5b5b5b;
    font-size: 30px;
    margin: 10px 0 0;
}
.demo-list-1 .video-box-demo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.video-box-demo {
    text-align: center;
}
.video-box-demo .vb-body {
    background-color: #192d47;
    border-radius: 3px !important;
    padding: 10px;
}

/* video grid {NEW} **/

.video-grid {
    background: #fff;
    width: 23%; /* Thumbnails 4 across */
    margin: 1%;
    display: inline-block;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 3px !important;
    overflow: hidden;
}

.video-grid img {
    width: 100%;
    opacity: 1;
}
.video-grid .vb-body {
    padding: 0;
    border-radius: 0 !important;
}
.play_button:after {
	position: absolute;
    content: '';
	height: auto;
	width: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	cursor: pointer;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.4);
    /*background-image: url(../img/player-play_32x.png);*/
    /*background-repeat: no-repeat;*/
    background-position: center center;
    background-size: auto;
    z-index: 9;
	transition: all 0.3s;
}

.play_button i {
    position: absolute;
    height: 0px;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #FFF;

}

.play_button .pb-medium {
    font-size: 2em;
}
.play_button .pb-large{
    font-size: 4em;
}

.play_button.pb-medium:after {
    background-image: url(../img/player-play_64x.png);
}
.play_button.pb-large:after {
    background-image: url(../img/player-play_128x.png);
}
.play_button.on-play:after {
    background-image: url(../img/player-pause_32x.png);
}
.play_button.pb-medium.on-play:after {
    background-image: url(../img/player-pause_64x.png);
}
.play_button.pb-large.on-play:after {
    background-image: url(../img/player-pause_128x.png);
}
.play_button:hover:after {
    opacity: 1;
}
.play_button .fa-pause {
    visibility: hidden;
}
.play_button:hover .fa-pause {
        visibility: '';
}

.video-grid .title {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 8px;
    margin: 0;
    white-space: nowrap;
}

@media (max-width: 1366px) {
    .video-grid {
        width: 23%; /* Thumbnails 4 across */
    }
}
@media (max-width: 1024px) {
    .video-grid {
        width: 31.333%; /* Thumbnails 3 across */
    }
}
@media (max-width: 600px) {
    .video-grid {
        width: 48%; /* Thumbnails 2 across */
    }
}
@media (max-width: 360px) {
    .video-grid {
        display: block;
        width: 96%; /* Single column view. */
        margin: 2%; /* The smaller the screen, the smaller the percentage actually is. */
        float: none;
    }
}

/** video temp **/
.vd-thumb {
	position: relative;
	width: 100%;
	height: 100%; /*IgorKiev 2016-04-21*/
	/*background-color: #111;*/
}

.vd-thumb video{
	display: block;
    width: 100%;
	height: 100%;
}

.vd-thumb .video-js.center-play .vjs-big-play-button {
	opacity: 0;
	transition: all 0.35s;
}

.vd-thumb:hover .video-js.center-play .vjs-big-play-button {
	opacity: 1;
	transition: all 0.35s;
}

/* .vd-thumb:hover .play_button{
	opacity: 1;
} */
.opacity{
	opacity: 0!important;
}
/* .play_button {
	height: auto;
	width: auto;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
	cursor: pointer;
	opacity: 0;
	transition: all 0.3s;
}
.play_button span .fa {
	font-size: 70px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	color: #fff;
} */

/* number icon */

.numicon {
    text-align: center;
    position: relative;
    display: block;
    background-color: #e5e5ed;
    width: 115px;
    height: 115px;
    color: #585858;
    border: 4px solid #585858;
    border-radius: 50% !important;
    font-family: Monsterrat Light;
    font-size: 76px;
    line-height: 96px;
    z-index: 1;
}


/* FEATURE section */
.feature-box > .title {
    margin-top: 25px;
    position: relative;
    color: #fff;
}
.feature-box > .title:before {
    position: absolute;
    content: '';
    bottom: -10px;
    width: 50px;
    border-bottom: 1px solid #fff;
}

/* THREE STEP SECTION */
.section-three-step .step-box {
    margin-bottom: 50px;
}
.section-three-step .step-box .icon {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}
.section-three-step .step-box .icon > * {
    margin: auto;
}
.section-three-step .step-box .title {
    font-family: Monsterrat Light;
    font-size: 20px;
    margin-bottom: 15px;
    color: #585858;
    text-transform: uppercase;
}

/* FAQ SECTION */
.faq-box {
    background-color: #fff;
    position: relative;
    text-align: left;
    padding: 15px 15px 15px 50px;
    margin-bottom: 35px;
}
.faq-box .icon {
    position: absolute;
    content: '';
    left: -20px;
    top: -20px;
}
.faq-box .icon .numicon {
    font-family: Monsterrat Bold;
    color: #fff;
    background-color: #68bddb;
    border-color: #68bddb;
    width: 60px;
    height: 60px;
    font-size: 48px;
    line-height: 48px;
}
.faq-box .title {
    font-family: Monsterrat Semi Bold;
    color: #5b5b5b;
    font-size: 24px;
}
.faq-box p {
    font-family: Monsterrat Light;
    margin: 10px 0;
}

/* money guarantee section */
.section-money-back {
    padding: 30px 0px 70px;
}
.section-money-back .smb-box {
    position: relative;
    max-width: 260px;
    width: 100%;
}
.section-money-back .smb-box img {
    position: absolute;
    width: 100%;
    margin-top: -60px;
}
.section-money-back h4 {
    font-family: Monsterrat Bold;
    color: #5b5b5b;
    font-size: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
}

/* footer */
footer {
    font-family: Monsterrat Light;
	background-color: #333;
	padding: 25px 0;
}
.footer-nav {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-nav li {
	display: inline;
	border-right: 1px solid #999;
	padding: 2px 10px;
}
.footer-nav li:last-child {
	border-right: 0;
}
.footer-nav li a {
    font-family: Monsterrat Light;
	color: #fff;
}
.footer-logo-section {
	background-image: url(../img/reevio-logo.png);
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 90px;
	color: #fff;
	text-align: right;
	padding-right: 100px;
}
.footer-logo-section p {
	margin: 0;
    color: #fff;
}

@media (max-width: 991px) {
    .top-section > nav .navbar-nav > li > a {
        padding: 7px 10px;
    }
}

@media (min-width: 767px) {
    .navbar-collapse {
        padding-left: 200px;
    }
}

@media (max-width: 767px) {
    .top-section > nav {
        top: 25px;
    }
    .top-section > nav .navbar-brand img {
        width: 120px;
    }
    .navbar-default .navbar-toggle {
        border-color: #f1c044;
        background-color: #f1c044;
        border-radius: 5px !important;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #585858;
    }
    .navbar-collapse {
        background-color: #192d47;
    }
    .top-section > nav .navbar-nav {
        margin-top: 0;
    }
    .top-section > nav .navbar-nav > li > a {
        padding: 15px 15px;
    }
    .top-section > nav .navbar-nav > li > a.btn-theme {
        margin-top: 15px;
    }
    .section-video-steps .svs-item {
        margin-bottom: 50px;
    }
    .section-video-steps .svs-item > img {
        max-width: 250px;
        margin: auto;
    }
    .section-video-steps .svs-item > span {
        position: relative;
        display: block;
        top: 0;
        line-height: 70px;
    }
    .section-video-steps .svs-item > span::before {
        border-color: #61a8c7;
    }
    .section-money-back {
        text-align: center;
    }
    .section-money-back .smb-box {
        margin: auto;
    }
}

.video-spinner{
    position: absolute!important;
    display: none!important;
    z-index: 999999;
    color: white;
    width: 50px!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.anim{
  display: block!important;
}